.header
  .header-body
    .row.align-items-end
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          Discussions
- if @channels.any?
  %table
    %thead
      %tr
        %th Name
        %th
        %th

    %tbody
      - @channels.each do |channel|
        %tr
          %td= link_to channel.name, channel
- else
  %h3 You are not part of any conversation yet. Click "Discuss" on manuscript's page.
