%h3 Discussing #{@manuscript.title}
= simple_form_for @channel do |f|
  = f.hidden_field :manuscript_id, value: @manuscript.id
  = f.input :user_ids, as: :select, label: "Discuss with:", collection: available_conversation_partners, include_blank: false, input_html: { multiple: true }
  = f.submit "Start discussion", class: "btn btn-lg btn-success"
