.row{"data-controller" => "channel", "data-channel-id" => @channel.id}
  .col-sm-3
    .d-flex.justify-content-between
      %h5 Conversations
      -# = link_to new_channel_path do
      -#   %i.fas.fa-plus
    %ul.list-group
      - Channel.all.each do |channel|
        = link_to channel do
          %li.list-group-item{"data-controller" => "unreads",
                              "data-unreads-id" => channel.id,
                              class: (@channel.id == channel.id ? "active" : "")}
            = channel.name
            -# - if current_user.channels.include?(channel)
            -#   = link_to channel_channel_user_path(channel), method: :delete do
            -#     %i.fas.fa-times
    %h5 Members
    %ul
    - UserDecorator.decorate_collection(@channel.users).each do |user|
      %li
        = user.full_name
  .col-sm-9
    %div{"data-target" => "channel.messages"}
      = render @channel.messages
    - if current_user.channels.include?(@channel)
      = form_with model: [@channel, Message.new], data: { action: "ajax:success->channel#clearMessage" } do |form|
        = form.text_field :body, placeholder: "Type a message and press enter to send it", class: "form-control", data: { target: "channel.newMessage" }
    - else
      = link_to "Join #{@channel.name}", channel_channel_user_path(@channel), method: :post
