= render "journals/header"
.container-fluid
  .row
    .col-9.tab-content
      .tab-pane.fade.active.show#statements-and-policies
        .row.justify-content-between.align-items-center.mb-5
          .col-12
            %h2.mb-2
              OA Statement
            = form_for @journal, remote: true do |f|
              = f.rich_text_area :oa_statement, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
        .row.justify-content-between.align-items-center.mb-5
          .col-12
            %h2.mb-2
              Plagiarism Policy
            = form_for @journal, remote: true do |f|
              = f.rich_text_area :plagiarism_policy, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
        .row.justify-content-between.align-items-center.mb-5
          .col-12
            %h2.mb-2
              Publication Ethics & Publication Malpractice Statement
            = form_for @journal, remote: true do |f|
              = f.rich_text_area :ethical_policy, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
        .row.justify-content-between.align-items-center.mb-5
          .col-12
            %h2.mb-2
              Archiving Policy
            = form_for @journal, remote: true do |f|
              = f.rich_text_area :archiving_policy, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
    = render "journals/right_section"

= javascript_pack_tag 'journal_show', 'data-turbolinks-track': 'load'
