.container
  .row
    .col-sm
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Name

        %tbody
          - @institutions.each do |institution|
            %tr
              %td= link_to institution.name, institution
  .row
    .mx-auto
      = will_paginate @institutions
