.container
  .row
    .col-md-auto
      %h1 Register Your Institution
      = simple_form_for @institution do |f|
        %fieldset.form-group
          %legend Basic Information
          = f.input :name
          = f.input :kind, collection: Institution.translate_enum_collection(:kind), label_method: :second, value_method: :first
        %fieldset.form-group
          %legend Address
          = f.fields_for :address do |af|
            = af.input :line_1
            = af.input :line_2
            = af.input :zipcode
            = af.input :city
            = af.input :country
        %fieldset.form-group
          %legend Bank Details
          = f.input :account_name
          = f.input :iban, label: "IBAN"
          = f.input :bic, label: "BIC"
        %fieldset.form-group
          %legend Billing Details
          = f.input :billing_name, label: "Name"
          %legend Address
          = f.fields_for :billing_address do |baf|
            = baf.input :line_1
            = baf.input :line_2
            = baf.input :zipcode
            = baf.input :city
            = baf.input :country
          = f.input :vat_no, label: "EU VAT (if applicable)"
        %fieldset.form-group
          %legend Representative's Details
          = f.fields_for :users do |uf|
            = uf.input :full_name
            = uf.input :email
            = uf.input :password
            = uf.input :password_confirmation
        = f.submit "Register", class: "btn btn-lg btn-success float-right"