%p#notice= notice

.container
  .row
    .col-sm
      %h1
        = @institution.name
      %p Admin: #{Assignment.where(assignable_id: @institution.id, assignable_type: "Institution", role_id: $admin.id).try(:first).try(:user).try(:decorate).try(:full_name)}
      %p
        %b Journals:
        %ul
          - @institution.journals.each do |journal|
            %li
              = link_to journal.title, published_journal_path(journal)
