- if !@bar_shown and @last_read_at and message.created_at > @last_read_at
  - @bar_shown = true
  .border-bottom.border-danger
%div
  %div.font-weight-bold #{message.user.decorate.full_name}
  %div #{message.body}
