$("#assignment-<%=params["id"]%>").remove()

if (<%= @assignment.role_id == $editor_in_chief.id %>) {
  var remainingEditorsInChief = $("#editors-in-chief").find(".list-group-item")

  if (remainingEditorsInChief.length == 0) {
    $("#editors-in-chief").append("<p if='no-editors-in-chief' class='text-muted'>No editors in chief yet.</p>")
  }
}

if (<%= @assignment.role_id == $managing_editor.id %>) {
  var remainingManagingEditors = $("#managing-editors").find(".list-group-item")

  if (remainingManagingEditors.length == 0) {
    $("#managing-editors").append("<p id='no-managing-editors' class='text-muted'>No managing editors yet.</p>")
  }
}

if (<%= @assignment.role_id == $editor.id %>) {
  var remainingEditors = $("#editors").find(".list-group-item")

  if (remainingEditors.length == 0) {
    $("#editors").append("<p id='no-editors' class='text-muted'>No editors yet.</p>")
  }
}
