.container
  .row.justify-content-center
    .col-12.col-md-8.col-xl-6.my-5
      %h1.display-4.text-center.mb-3
        Get Started
      %p.text-muted.text-center.mb-5
        Please provide your basic contact information.
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .form-row
          .col-2.mb-3
            = f.label :title
            %select{class: input_class, name: "user[title]", data: { toggle: "select"}}
              = title_options
            = feedback_for_invalid_field :title
          .col-5.mb-3
            = f.label :first_name
            = f.text_field :first_name, class: input_class
            = feedback_for_invalid_field :first_name
          .col-5.mb-3
            = f.label :last_name
            = f.text_field :last_name, class: input_class
            = feedback_for_invalid_field :last_name
        .form-group
          = f.label :email
          = f.email_field :email, placeholder: "name@address.com", autofocus: true, autocomplete: "email", class: input_class
          = feedback_for_invalid_field :email
        .form-group
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autocomplete: "new-password", class: input_class
          = feedback_for_invalid_field :password
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "new-password", class: input_class
          = feedback_for_invalid_field :password_confirmation
        - if Rails.env.staging? or Rails.env.production?
          .mb-4
            = recaptcha_tags
        = f.submit "Sign up", class: "btn btn-lg btn-block btn-primary mb-3"
        .text-muted.text-center or
        = link_to user_linkedin_omniauth_authorize_path, class: "btn btn-block btn-primary mt-3 mb-3 linkedin" do
          Sign up with LinkedIn
          %i.fab.fa-linkedin.float-right.mt-1
        = link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-primary mb-3 google" do
          Sign up with Google
          %i.fab.fa-google.float-right.mt-1
        = link_to user_orcid_omniauth_authorize_path, class: "btn btn-block btn-primary mb-3 orcid" do
          Sign up with ORCID
          = image_tag "orcid.logo.icon.svg", size: "25x25", class: "img-fluid float-right pl-2"
        .text-center
          %small.text-muted.text-center
            Already have an account?
            = link_to "Sign in", new_user_session_path
