= simple_form_for Assignment.new, remote: true do |f|
  = f.hidden_field :assignable_id, value: @manuscript.id
  = f.hidden_field :assignable_type, value: "Manuscript"
  = f.hidden_field :role_id, value: $editor.id
  = f.input :user_id, as: :select, label: "Choose from available editors", collection: available_editors, include_blank: false
  = f.submit "Add", class: "btn btn-lg btn-success float-right mt-4"
