= simple_form_for [@manuscript, PeerReview.new], remote: true, url: manuscript_peer_reviews_url(@manuscript.id) do |f|
  .form-group
    = f.input :invitee_email
  .form-group
    = f.submit 'Save', class: "btn btn-success float-right"
