<% if @pin.pinnable_type == "Manuscript" %>
  $(".pin-to-dashboard.false").html("<%= j unpin_manuscript_from_dashboard %>");
<% elsif @pin.pinnable_type == "Journal" %>
  $(".pin-to-dashboard.false").html("<%= j unpin_journal_from_dashboard %>");
<% end %>
