<% if @pin.pinnable_type == "Manuscript" %>
  $(".pin-to-dashboard.true").html("<%= j pin_manuscript_to_dashboard %>");
<% elsif @pin.pinnable_type == "Journal" %>
  $(".pin-to-dashboard.true").html("<%= j pin_journal_to_dashboard %>");
<% end %>
