location.reload()
// if (<%= @invitation.invited_as_id == $editor_in_chief.id %>) {
//   var editEditorsInChiefModal = $("#edit-editors-in-chief-modal")
//   editEditorsInChiefModal.modal('hide')
//   $("#no-editor-in-chief-invitations").remove()
//   $("#editor-in-chief-invitations").append("<%= j invitation_list_item(@invitation) %>") 
// }

// if (<%= @invitation.invited_as_id == $managing_editor.id %>) {
//   var editManagingEditorsModal = $("#edit-managing-editors-modal")
//   editManagingEditorsModal.modal('hide')
//   $("#no-managing-editor-invitations").remove()
//   $("#managing-editor-invitations").append("<%= j invitation_list_item(@invitation) %>") 
// }

// if (<%= @invitation.invited_as_id == $reviewer.id %>) {
//   $("#new-peer-review-invitation-modal").modal('hide')
//   $("#no-reviewer-invitations").remove()
//   $("reviewer-invitations").append("<%= j invitation_list_item(@invitation) %>")
// }
