location.reload()

// $("#invitation-<%=params["id"]%>").remove()

// if (<%= @invitation.invited_as_id == $editor_in_chief.id %>) {
//   var remainingEditorInChiefInvitations = $("#editor-in-chief-invitations").find(".list-group-item")

//   if (remainingEditorInChiefInvitations.length == 0) {
//     $("#editor-in-chief-invitations").append("<p if='no-editor-in-chief-invitations' class='text-muted'>You have not invited any managing editors yet.</p>")
//   }
// }

// if (<%= @invitation.invited_as_id == $managing_editor.id %>) {
//   var remainingManagingEditorInvitations = $("#managing-editor-invitations").find(".list-group-item")

//   if (remainingManagingEditorInvitations.length == 0) {
//     $("#managing-editor-invitations").append("<p id='no-managing-editor-invitations' class='text-muted'>You have not invited any managing editors yet.</p>")
//   }
// }

// if (<%= @invitation.invited_as_id == $reviewer.id %>) {
//   var remainingReviewerInvitations = $("#reviewer-invitations").find(".list-group-item")

//   if (remainingReviewerInvitations.length == 0) {
//     $("#reviewer-invitations").append("<p id='no-reviewer-invitations' class='text-muted'>No pending invitations for peer review.</p>")
//   }
// }
