var modal = $("#edit-owner-modal")
<% if @owner.errors.present? %>
  <% if @owner.errors.has_key?(:name) %>
    modal.find("#owner_name_invalid_feedback").remove()
    modal.find("#owner_name").addClass("is-invalid")
    modal.find("#owner_name").after("<div id='owner_name_invalid_feedback' class='invalid-feedback'>Name <%= @owner.errors[:name].join(". ") %></div>")
  <% else %>
    modal.find("#owner_name").removeClass("is-invalid")
    modal.find("#owner_name_invalid_feedback").remove()
  <% end %>
<% else %>
  location.reload()
<% end %>
