= form_for @issue do |f|
  - if @issue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"
      %ul
        - @issue.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :belongs_to
    = f.text_field :belongs_to
  .actions
    = f.submit 'Save'
