.row
  .col-9
    .card-deck
      = link_to journal_volumes_path(@journal) do
        .card.text-center
          .card-body
            %i.fas.fa-level-up-alt.fa-2x
            .card-title
            %h2 Back
      - issues.each do |issue|
        = link_to journal_volume_issue_manuscripts_path(@journal, @volume, issue) do
          .card.text-center
            .card-body
              .card-text
                %h2 #{issue.title}
      = link_to journal_volume_issues_path(@journal, @volume), method: :post do
        .card.text-center
          .card-body
            %h2 Add Issue
  .col-3
    = render 'shared/sidebars/volume'
