= render "manuscripts/header"
.container-fluid
  .row
    .col-9.tab-content
      .tab-pane.fade.active.show#peer_reviews{role: "tabpanel"}
        .row
          .col-6
            - if @manuscript.peer_reviews.any?
              = render "manuscripts/peer_reviews"
            - else
              .card.card-inactive#no-peer-reviews
                .card-body.text-center
                  = image_tag 'illustrations/scale.svg', style: "max-width: 182px;", class: "img-fluid"
                  %h1 This manuscript has no peer reviews yet
          .col-6
            .card
              .card-body
                .row.align-items-center
                  .col
                    %h3.mb-0 Invitations
                  .col-auto
                    - if policy(@peer_review_invitation).create?
                      = render "manuscripts/modals/new_peer_review_invitation_modal"
                .row
                  .col.mt-4
                    .list-group.list-group-flush.my-n3#reviewer-invitations
                      - if @manuscript.outstanding_reviewer_invitations.any?
                        = render collection: @manuscript.outstanding_reviewer_invitations, partial: "internal_invitations/internal_invitation"
                      - else
                        %p.text-muted#no-reviewer-invitations No pending invitations for peer review.
    = render "manuscripts/right_section"
