.btn.btn-primary.float-right{"data-toggle" => "modal", "data-target" => "#add-editor-modal"}
  Add Editor
.modal.fade.show{id: "add-editor-modal"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          %h3.text-left
            = "Add Editor"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        = render "manuscripts/forms/manuscript_editor_assignment_form"
