- if @channel.present?
  = link_to channel_path(@channel) do
    %i.fe.fe-message-circle{"data-toggle" => "tooltip", "data-placement" => "top", "data-original-title" => "Discuss this manuscript with editors or other users."}
- else
  %i.fe.fe-message-circle{"data-toggle" => "modal", "data-target" => "#start-discussion-modal-#{@manuscript.id}"}
  .modal.fade.show{id: "start-discussion-modal-#{@manuscript.id}"}
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          .modal-title
            %h3.text-left
              = "Start a discussion"
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.text-left
          = simple_form_for Channel.new do |f|
            = f.hidden_field :manuscript_id, value: @manuscript.id
            = f.input :user_ids, as: :select, label: "Discuss with:", collection: available_conversation_partners, include_blank: false, input_html: { multiple: true }
            = f.submit "Start discussion", class: "btn btn-lg btn-success float-right mt-4"
