%i.fe.fe-plus-square.cursor-pointer{"data-toggle" => "modal", "data-target" => "#new-peer-review-invitation-modal"}
.modal.fade.show{id: "new-peer-review-invitation-modal"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          %h3.text-left
            = "New peer review"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            %h3 Invite existing user
            = form_for InternalInvitation.new, remote: true do |f|
              = hidden_field_tag "internal_invitation[invited_as_id]", $reviewer.id
              = hidden_field_tag "internal_invitation[inviter_id]", current_user.id
              = hidden_field_tag "internal_invitation[invitable_id]", @manuscript.id
              = hidden_field_tag "internal_invitation[invitable_type]", "Manuscript"
              .form-row
                .col-12
                  = f.select :invitee_id, peer_reviewer_options, {}, { class: "custom-select" }
              = f.submit "Invite", class: "btn btn-success float-right mt-3"
        .row
          .col-12.text-center
            %p.text-muted or
        .row
          .col-12
            %h3 Invite a new user
            = form_for User.new, url: user_invitation_url, remote: true do |f|
              = hidden_field_tag :invited_as_id, $reviewer.id
              = hidden_field_tag :invitable_id, @manuscript.id
              = hidden_field_tag :invitable_type, "Manuscript"
              .form-row
                .col-2.mb-3
                  = f.label :title
                  %select{class: "form-control", name: "user[title]", data: { toggle: "select"}}
                    = title_options
                .col-5.mb-3
                  = f.label :first_name
                  = f.text_field :first_name, class: "form-control"
                .col-5.mb-3
                  = f.label :last_name
                  = f.text_field :last_name, class: "form-control"
              .form-row
                .col-12.mb-3
                  = f.label :email
                  = f.email_field :email, class: "form-control"
              = f.submit "Invite new reviewer", class: "btn btn-success float-right"
