.btn.btn-danger.mb-2{"data-toggle" => "modal", "data-target" => "#rejection-modal-#{@manuscript.id}"}
  Reject
.modal.fade.show{id: "rejection-modal-#{@manuscript.id}"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          %h3.text-left Reject
          - if @manuscript.in_revision?
            .alert.alert-warning This manuscript is currently being revised by author. If you reject it, author will not be able to submit revision anymore!
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        = form_for Rejection.new(text: "Your manuscript has been rejected! MUAHAHA!") do |f|
          = f.rich_text_area :text, class: "height-20"
          = f.hidden_field :manuscript_id, value: @manuscript.id
          = f.submit "Reject", class: "btn btn-lg btn-danger float-right mt-4"
