.btn.btn-success.mb-2{"data-toggle" => "modal", "data-target" => "#resubmit-modal"}
  Re-Submit
.modal.fade.show{id: "resubmit-modal"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          %h3.text-left
            = "Re-Submit"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        = form_for Resubmission.new(text: "I made the changes you requested!") do |f|
          = f.rich_text_area :text, class: "height-20"
          = f.hidden_field :manuscript_id, value: @manuscript.id
          = f.submit "Re-Submit", class: "btn btn-lg btn-success float-right mt-4"
