.btn.btn-warning.mb-2{"data-toggle" => "modal", "data-target" => "#revision-request-modal-#{@manuscript.id}"}
  Ask for revision
.modal.fade.show{id: "revision-request-modal-#{@manuscript.id}"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          %h3.text-left
            = "Request a revision"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        = form_for RevisionRequest.new(text: "Please revise your manuscript!") do |f|
          = f.rich_text_area :text, class: "height-20"
          = f.hidden_field :manuscript_id, value: @manuscript.id
          = f.submit "Request revision", class: "btn btn-lg btn-warning float-right mt-4"
