.row
  .col-12
    %h3
      = @journal.title
.row
  .col-12
    %p
      %strong Print ISSN:
      = "#{@journal.print_issn}"
    %p
      %strong Electronic ISSN:
      = "#{@journal.electronic_issn}"


