%nav#sidebar.navbar.navbar-vertical.fixed-left.navbar-expand-md.navbar-light
  .container-fluid
    %button.navbar-toggler{"aria-controls" => "sidebarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#sidebarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    = link_to root_path, class: "navbar-brand" do
      = image_tag "logos/journalius_icon_positive_cropped.png", class: "navbar-brand-img mx-auto", alt: "journalius logo"
    #sidebarCollapse.collapse.navbar-collapse
      %ul.navbar-nav
        = link_to_dashboard
        = link_to_journals
        = link_to_manuscripts
        = link_to_my_peer_reviews
