.card
  .card-body
    = simple_form_for @questionnaire_template do |f|
      = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      = f.input :name, label: "Questionnaire Name", class: "form-group"
      = f.fields_for :questions do |builder|
        = render 'question_fields', f: builder

      .row
        .col
          = link_to_add_fields 'Add Question', f, :questions
      .row.mt-3
        .col
          = f.button :submit, class: "btn btn-lg btn-success btn-block"
