.form-row
  .col-6
    = f.input :text, label: "Question text", class: "form-group"
  .col-3
    = f.input :field_type, label: "Type of answer", collection: ["Text field", "True or false"]
  .col-2
    = f.label "Required"
    = f.input :required, label: false
  .col-1.pt-5
    = link_to "#", class: "remove_fields" do
      %i.fe.fe-trash
