.header
  .header-body
    .row.align-items-end
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          Questionnaire Templates
- if @questionnaire_templates.any?
  .card
    .table-responsive
      %table.table.table-hover.table-nowrap.card-table
        %thead
          %tr
            %th Name
            %th
        %tbody.list.font-size-base
          - @questionnaire_templates.each do |questionnaire_template|
            %tr
              %td= link_to questionnaire_template.name, questionnaire_template_path(questionnaire_template)
              %td.text-right
                .dropdown
                  %a.dropdown-ellipses.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    %i.fe.fe-more-vertical
                  .dropdown-menu.dropdown-menu-right
                    = link_to 'Edit', edit_questionnaire_template_path(questionnaire_template), class: "dropdown-item"
                    = link_to 'Destroy', questionnaire_template_path(questionnaire_template), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item"

= link_to 'New Questionnaire template', new_questionnaire_template_path, class: "btn btn-primary float-right"
