.header-body.mb-5
  .row.align-items-end
    .col
      %h1.header-title
        = @questionnaire_template.name
    .col.text-right
      = link_to 'Edit', edit_questionnaire_template_path(@questionnaire_template), class: "btn btn-primary"

.card
  .table-responsive
    %table.table.table-hover.table-nowrap.card-table
      %thead
        %tr
          %th Question text
          %th Answer type
      %tbody
        = render @questionnaire_template.questions
