= simple_form_for [@journal, @manuscript, @language_edit], url: journal_manuscript_language_edits_url do |f|
  .form-group
    = f.input :invitee_email
  .form-group
    = f.submit 'Save', class: "btn btn-success"