.container
  .row
    .col-12
      %h4
        Reviewer: #{@language_edit.language_editor.email}
      
      - if @language_edit.language_edited_manuscript.present?
        = link_to "Download Peer Reviewed Manuscript", rails_blob_path(@language_edit.language_edited_manuscript, disposition: "attachment"), class: "btn btn-primary"
      - else
        The Language editor has not yet uploaded language edit
      = link_to "Edit", edit_journal_manuscript_language_edit_path(params[:journal_id], params[:manuscript_id], @language_edit), class: "btn btn-primary"