- if @user.provider == "orcid"
  %a{href: "https://sandbox.orcid.org/#{@user.oauth_response["uid"]}", target: "_blank"}
    = image_tag "orcid.logo.icon.svg", size: "25x25"
    = @user.full_name
- else
  = @user.email
