.container
  .row.justify-content-center
    .col-12.col-md-5.col-xl-4.my-5
      %h1.display-4.text-center.mb-3
        Change your password
      %p.text-muted.text-center.mb-5
        Set and confirm your new password.
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password, "New password"
          = f.password_field :password, autofocus: true, autocomplete: "new-password", class: input_class
          = feedback_for_invalid_field :password
        .form-group
          = f.label :password_confirmation, "Confirm new password"
          = f.password_field :password_confirmation, autocomplete: "new-password", class: input_class
          = feedback_for_invalid_field :password_confirmation
        = f.submit "Change my password", class: "btn btn-lg btn-block btn-primary mb-3"
