.container
  .row.justify-content-center
    .col-12.col-md-5.col-xl-4.my-5
      %h1.display-4.text-center.mb-3
        Password reset
      %p.text-muted.text-center.mb-5
        Enter your email to get a password reset link.
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        .form-group
          = f.label :email, "Email Address"
          = f.email_field :email, placeholder: "name@address.com", autofocus: true, autocomplete: "email", class: input_class
          = feedback_for_invalid_field :email
        - if Rails.env.staging? or Rails.env.production?
          .mb-4
            = recaptcha_tags
        = f.submit "Reset Password", class: "btn btn-lg btn-block btn-primary mb-3"
        .text-center
          %small.text-muted.text-center
            Remember your password?
            = succeed "." do
              = link_to "Log in", new_session_path(resource_name)

