var modal = $("#edit-payer-modal")
<% if @payer.errors.present? %>
  <% if @payer.errors.has_key?(:name) %>
      modal.find("#payer_name_invalid_feedback").remove()
      modal.find("#payer_name").addClass("is-invalid")
      modal.find("#payer_name").after("<div id='payer_name_invalid_feedback' class='invalid-feedback'>Name <%= @payer.errors[:name].join(". ") %></div>")
  <% else %>
    modal.find("#payer_name").removeClass("is-invalid")
    modal.find("#payer_name_invalid_feedback").remove()
  <% end %>
<% else %>
  location.reload()
<% end %>
