= render "journals/header"
.container-fluid
  .row
    .col-9.tab-content
      .tab-pane.fade.active.show#volumes{role: "tabpanel"}
        = form_for @journal, remote: true do |f|
          .row
            .col
              %h4
                Publishing Frequency
                = render partial: "shared/info_icon", locals: { main_message: "Choose publishing frequency of your journal.", notes: "Changes will be applied from the next Volume."}
              #publishing-frequency-component{publishing_frequency: @journal.publishing_frequency,
                                              expected_months_of_issue: @journal.expected_months_of_issue.to_json}
          .form-row
            .col-6
              %label{for: :volumes_per_year} Expected number of volumes per year
              = render partial: "shared/info_icon", locals: { main_message: "Choose how many volumes your journal publishes per year.", notes: ""}
              = f.text_field :volumes_per_year, label: false, class: "form-control", input_html: {value: f.object.volumes_per_year || 1}
            .col-6#issues-per-volume{style: ("display: none;" if @journal.publishing_frequency == "continuous_publishing")}
              %label{for: :issues_per_volume} Expected number of regular issues per volume
              = render partial: "shared/info_icon", locals: { main_message: "Expected number of regular issue (excluding special issues) your journal publishes per volume.", notes: ""}
              = f.text_field :issues_per_volume, label: false, class: "form-control", input_html: {value: f.object.issues_per_volume || 2}
          = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
    = render "journals/right_section"

= javascript_pack_tag 'journal_show', 'data-turbolinks-track': 'load'
