.container.justify-content-stretch
  %nav.navbar.navbar-light.navbar-expand-md.logged-out-navigation
    = link_to root_path, class: "navbar-brand d-flex w-50 mr-auto" do
      = image_tag "logos/journalius_horizontal_positive_cropped.png"
    %button.navbar-toggler{"data-target" => "#collapsingNavbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #collapsingNavbar.navbar-collapse.collapse.w-100
      %ul.navbar-nav.w-100.justify-content-center
        %li.nav-item
          = link_to 'Journals', published_journals_path, class: "nav-link"
      %ul.nav.navbar-nav.ml-auto.w-100.justify-content-end
        - unless Rails.env.production?
          = link_to "Sign in", new_user_session_path, class: "nav-link"
          = link_to "Sign up", new_user_registration_path, class: "nav-link"
        %a.navbar-btn.btn.btn-lg.btn-primary.lift.primary-cta{href: "mailto:sales@journalius.com"} Contact Sales
