%nav#topbar.navbar.navbar-expand-md.navbar-light.d-none.d-md-flex
  .container-fluid
    #global-search-form
    .navbar-user
      .dropdown.mr-4.d-none.d-md-flex
        %a.navbar-user-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %span.icon.active
            %i.fe.fe-bell
        .dropdown-menu.dropdown-menu-right.dropdown-menu-card
          .card-header
            %h5.card-header-title
              Notifications
            %a.small{:href => "#!"}
              View all
          .card-body
            .list-group.list-group-flush.list-group-activity.my-n3
              %a.list-group-item.text-reset{:href => "#!"}
                .row
                  .col-auto
                    .avatar.avatar-sm
                      %img.avatar-img.rounded-circle{:alt => "...", :src => "https://dashkit.goodthemes.co/assets/img/avatars/teams/team-logo-2.jpg"}/
                  .col.ml-n2
                    .small
                      %strong Dianna Smiley
                      shared your post with Ab Hadley, Adolfo Hess,
                      and 3 others.
                    %small.text-muted
                      2m ago
              %a.list-group-item.text-reset{:href => "#!"}
                .row
                  .col-auto
                    .avatar.avatar-sm
                      %img.avatar-img.rounded-circle{:alt => "...", :src => "https://dashkit.goodthemes.co/assets/img/avatars/teams/team-logo-2.jpg"}/
                  .col.ml-n2
                    .small
                      %strong Ab Hadley
                      reacted to your post with a 😍
                    %small.text-muted
                      2m ago
              %a.list-group-item.text-reset{:href => "#!"}
                .row
                  .col-auto
                    .avatar.avatar-sm
                      %img.avatar-img.rounded-circle{:alt => "...", :src => "https://dashkit.goodthemes.co/assets/img/avatars/teams/team-logo-2.jpg"}/
                  .col.ml-n2
                    .small
                      %strong Adolfo Hess
                      commented
                      %blockquote.mb-0
                        “I don’t think this really makes sense to do without approval from Johnathan
                        since he’s the one...”
                    %small.text-muted
                      2m ago
              %a.list-group-item.text-reset{:href => "#!"}
                .row
                  .col-auto
                    .avatar.avatar-sm
                      %img.avatar-img.rounded-circle{:alt => "...", :src => "https://dashkit.goodthemes.co/assets/img/avatars/teams/team-logo-2.jpg"}/
                  .col.ml-n2
                    .small
                      %strong Daniela Dewitt
                      subscribed to you.
                    %small.text-muted
                      2m ago
              %a.list-group-item.text-reset{:href => "#!"}
                .row
                  .col-auto
                    .avatar.avatar-sm
                      %img.avatar-img.rounded-circle{:alt => "...", :src => "https://dashkit.goodthemes.co/assets/img/avatars/teams/team-logo-2.jpg"}/
                  .col.ml-n2
                    .small
                      %strong Miyah Myles
                      shared your post with Ryu Duke, Glen Rouse, and 3 others.
                    %small.text-muted
                      2m ago
      .dropdown
        %a.avatar.avatar-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          - if current_user.avatar_url.present?
            %img.avatar-img.rounded{src: current_user.avatar_url}
          - else
            %span.avatar-title.rounded
              = current_user.decorate.initials
        .dropdown-menu.dropdown-menu-right
          = link_to 'Profile', user_path(current_user), class: "dropdown-item"
          %a.dropdown-item{:href => "#"} Settings
          %hr.dropdown-divider/
          = link_to 'Log out', destroy_user_session_path, method: :delete, class: "dropdown-item"
