%i.fe.fe-edit.cursor-pointer.text-muted{"data-toggle" => "modal", "data-target" => "#edit-languages-modal"}
.modal.fade.show#edit-languages-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          .row
            .col-12
              %h3.text-left
                = "Languages"
          .row
            .col-12
              %p
                Choose #{@journal.title}'s languages from the dropdown below.
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            = form_for @journal, html: { id: "edit_languages" } do |f|
              #languages-select{languages: journals_languages, options: language_options, for: "journal"}
              = f.submit "Change", class: "btn btn-success float-right"
