%i.fe.fe-edit.cursor-pointer.text-muted{"data-toggle" => "modal", "data-target" => "#edit-publisher-modal"}
.modal.fade.show#edit-publisher-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          .row
            .col-12
              %h3.text-left
                = "Publisher"
          .row
            .col-12
              %p
                Start typing to search and choose the publisher of your journal. Publisher is an entity which usually issues DOI numbers and registers them. If you would like Journalius to be your publisher search and choose "Journalius".
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            = form_for @journal, html: { id: "edit_publisher" } do |f|
              #publisher-select{publisher: journals_publisher, owner_id: owner_id, owner_name: owner_name_string}
              = f.submit "Update", class: "btn btn-success float-right"
        .row
          .col-12
            = form_for Institution.new, remote: true, url: publishers_url(journal_id: @journal.id), html: { style: ("display: none;" if show_new_journal_publisher_form?), id: "new_publisher" } do |f|
              %p.text-muted Didn't find your publisher above? Create one:
              .form-group
                = f.label :official_name
                = f.text_field :name, class: "form-control", id: "publisher_name"
              .form-group
                = f.label :doi, "DOI prefix"
                = f.text_field :doi, class: "form-control", id: "publisher_doi"
              = f.submit "Create", class: "btn btn-success float-right"

