%i.fe.fe-edit.cursor-pointer.text-muted{"data-toggle" => "modal", "data-target" => "#edit-payer-modal"}
.modal.fade.show#edit-payer-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          .row
            .col-12
              %h3.text-left
                = "Payer"
          .row
            .col-12
              %p
                Start typing to search and choose the institution that will be charged for using Journalius services for this journal.
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            = form_for @journal, html: { id: "edit_payer" } do |f|
              #payer-select{payer: journals_payer, owner_id: owner_id, owner_name: owner_name_string, publisher_id: publisher_id, publisher_name: publisher_name_string}
              = f.submit "Change", class: "btn btn-success float-right"
        .row
          .col-12
            = form_for Institution.new, remote: true, url: payers_url(journal_id: @journal.id), html: { style: ("display: none;" if show_new_journal_payer_form?), id: "new_payer" } do |f|
              %p.text-muted Didn't find an institution you want above? Create one:
              .form-group
                = f.label :name, "Official name"
                = f.text_field :name, class: "form-control", id: "payer_name"
              .form-group
                = f.label :kind, "Choose type", id: "payer_kind"
                = f.select :kind, options_for_select(Institution.kinds.keys.to_a.map{|k| [k.humanize, k]}), {}, { id: "payer_kind", class: "custom-select" }
              = f.submit "Create", class: "btn btn-success float-right"
