%i.fe.fe-edit.cursor-pointer.text-muted{"data-toggle" => "modal", "data-target" => "#edit-print-issn-modal"}
.modal.fade.show#edit-print-issn-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          %h3.text-left
            = "Change print ISSN"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            = form_for @journal, remote: true, html: { id: "edit_print_issn" } do |f|
              #print-issn{print_issn: @journal.print_issn, errors: @journal.errors.to_json}
              = f.submit "Change", class: "btn btn-success float-right mt-4"
