%i.fe.fe-edit.cursor-pointer.text-muted{"data-toggle" => "modal", "data-target" => "#edit-publishing-model-modal"}
.modal.fade.show#edit-publishing-model-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          .row
            .col-12
              %h3.text-left
                = "Publishing Model"
          .row
            .col-12
              %p
                Choose #{@journal.title}'s publishing model from the dropdown below.
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            = simple_form_for @journal, html: { id: "edit_publishing_model" } do |f|
              = f.label :publishing_model
              = f.input :publishing_model, collection: publishing_models, label_method: :second, value_method: :first, label: false
              = f.submit "Change", class: "btn btn-success float-right mt-4"
