%i.fe.fe-edit.cursor-pointer.text-muted{"data-toggle" => "modal", "data-target" => "#edit-owner-modal"}
.modal.fade.show#edit-owner-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          .row
            .col-12
              %h3.text-left
                = "Journal Owner"
          .row
            .col-12
              %p
                Start typing to search and choose that owns this journal.
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            = form_for @journal, html: { id: "edit_owner" } do |f|
              #owner-select{owner: journals_owner}
              = f.submit "Change", class: "btn btn-success float-right"
        .row
          .col-12
            %p.text-muted Didn't find your institution above? Create one:
        .row
          .col-12
            = form_for Institution.new(address: Address.new), remote: true, url: owners_url(journal_id: @journal.id), html: { id: "new_owner" } do |f|
              .form-group
                = f.label :name, "Official name"
                = f.text_field :name, class: "form-control", id: "owner_name"
              = f.fields_for :address do |af|
                .form-group
                  = af.label :country, "Choose country"
                  = af.country_select :country, {}, { class: "custom-select" }
              .form-group
                = f.label :kind, "Choose type"
                = f.select :kind, options_for_select(Institution.kinds.keys.to_a.map{|k| [k.humanize, k]}), {}, { class: "custom-select" }
              = f.submit "Create", class: "btn btn-success float-right"
