%i.fe.fe-edit.cursor-pointer.text-muted{"data-toggle" => "modal", "data-target" => "#edit-electronic-issn-modal"}
.modal.fade.show#edit-electronic-issn-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          %h3.text-left
            = "Change digital ISSN"
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            = form_for @journal, remote: true, html: { id: "edit_electronic_issn" } do |f|
              #electronic-issn{electronic_issn: @journal.electronic_issn, errors: @journal.errors.to_json}
              = f.submit "Change", class: "btn btn-success float-right mt-4"

