%i.fe.fe-plus-square.cursor-pointer{"data-toggle" => "modal", "data-target" => "#edit-managing-editors-modal"}
.modal.fade.show#edit-managing-editors-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          .row
            .col-12
              %h2.text-left
                = "Add a Managing Editor"
          .row
            .col-12
              %p.text-muted Please select a Managing Editor from available editors or invite new editor via email.
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        .row
          .col-12
            %h3 Invite an existing user
            = form_for InternalInvitation.new, remote: true do |f|
              = hidden_field_tag "internal_invitation[invited_as_id]", $managing_editor.id
              = hidden_field_tag "internal_invitation[inviter_id]", current_user.id
              = hidden_field_tag "internal_invitation[invitable_id]", @journal.id
              = hidden_field_tag "internal_invitation[invitable_type]", "Journal"
              .form-row
                .col-12
                  = f.select :invitee_id, managing_editor_options, {}, { class: "custom-select" }
              = f.submit "Invite", class: "btn btn-success float-right mt-3"
        .row
          .col-12.text-center
            %p.text-muted or
        .row
          .col-12
            %h3 Invite a new user
            = form_for User.new, url: user_invitation_url, remote: true do |f|
              = hidden_field_tag :invited_as_id, $managing_editor.id
              = hidden_field_tag :invitable_id, @journal.id
              = hidden_field_tag :invitable_type, "Journal"
              .form-row
                .col-2.mb-3
                  = f.label :title
                  %select{class: "form-control", name: "user[title]", data: { toggle: "select"}}
                    = title_options
                .col-5.mb-3
                  = f.label :first_name
                  = f.text_field :first_name, class: "form-control"
                .col-5.mb-3
                  = f.label :last_name
                  = f.text_field :last_name, class: "form-control" 
              .form-row
                .col-12.mb-3
                  = f.label :email
                  = f.email_field :email, class: "form-control"
              = f.submit "Invite new Managing Editor", class: "btn btn-success float-right"
