.btn.btn-primary.mt-3{"data-toggle" => "modal", "data-target" => "#new-journal-modal"}
  Create new
.modal.fade.show#new-journal-modal
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        .modal-title
          %h3.text-left
            New Journal
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body.text-left
        = simple_form_for @journal, remote: true do |f|
          %h5
            Title
            = render partial: "shared/info_icon", locals: { notes: "mandatory", main_message: "Exact name of your journal as officially registered."}
          = f.input :title, label: false, class: "form-group"
          #subjects-select{subjects: journals_subjects, for_model: "journal", is_valid: (@result.present? ? (@result.errors.keys.include?(:subjects) ? true : false) : false)}
          = f.submit "Create Journal", class: "btn btn-lg btn-success mt-5 float-right"

        = javascript_pack_tag 'journal_form', 'data-turbolinks-track': 'load'
