$(".journal-cover").replaceWith("<%= j journal_cover %>")

document
	.querySelectorAll(".upload-journal-cover")
	.forEach((element) => setupUppy(element));

function setupUppy(target) {
	let trigger = target.querySelector('[data-behavior="uppy-trigger"]')
	let direct_upload_url = document
		.querySelector("meta[name='direct-upload-url']")
		.getAttribute("content");

	const uppy = new Uppy({
		restrictions: {
			allowedFileTypes: ["image/*"],
			maxNumberOfFiles: 1,
			minNumberOfFiles: 1,
		},
		autoProceed: true,
		allowMultipleUploads: false,
		logger: Uppy.debugLogger,
	})
		.use(Dashboard, {
			proudlyDisplayPoweredByUppy: false,
			trigger,
			closeAfterFinish: true,
		})
		.use(ActiveStorageUpload, {
			directUploadUrl: direct_upload_url,
		})

	uppy.on("complete", (result) => {
		result.successful.forEach((file) => {
			appendUploadedFile(target, file)
		});
	})

	function appendUploadedFile(target, file) {
		$.ajax({
			url: "/attachments",
			type: 'post',
			headers: {
				"X-CSRF-TOKEN": document.getElementsByName("csrf-token")[0].content,
			},
			data: {
				journal_id: target.id,
				attachable_sgid: file.response.attachable_sgid 
			},
			success: function(data, status) {}
		})
	}
}
