var modal = $("#edit-publisher-modal")
<% if @publisher.errors.present? %>
  <% if @publisher.errors.has_key?(:name) %>
      modal.find("#publisher_name_invalid_feedback").remove()
      modal.find("#publisher_name").addClass("is-invalid")
      modal.find("#publisher_name").after("<div id='publisher_name_invalid_feedback' class='invalid-feedback'>Name <%= @publisher.errors[:name].join(". ") %></div>")
  <% else %>
    modal.find("#publisher_name").removeClass("is-invalid")
    modal.find("#publisher_name_invalid_feedback").remove()
  <% end %>
  <% if @publisher.errors.has_key?(:doi) %>
    if (modal.find("#publisher_doi_invalid_feedback").length == 0) {
      modal.find("#publisher_doi").addClass("is-invalid")
      modal.find("#publisher_doi").after("<div id='institution_doi_invalid_feedback' class='invalid-feedback'>Doi <%= @publisher.errors[:doi].join(". ") %></div>")
    }
  <% else %>
    modal.find("#publisher_doi").removeClass("is-invalid")
    modal.find("#publisher_doi_invalid_feedback").remove()
  <% end %>
<% else %>
  location.reload()
<% end %>
