= render "peer_reviews/header"
.container-fluid
  .row
    .col-9
      .row.mb-3
        .col
          %h2.mb-3
            Recommendation
          - if policy(@peer_review).update?
            #recommendation{recommendation: @peer_review.recommendation, peer_review_id: @peer_review.id}
          - else
            = recommendation
      .row
        .col
          %h2.mb-3
            Message for Author
          - if policy(@peer_review).update?
            = form_for @peer_review, remote: true, html: { id: "edit_message_for_author" } do |f|
              = f.rich_text_area :message_for_author, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
          - else
            .row
              .col.mb-5
                = @peer_review.message_for_author
      .row.mb-5
        .col
          %h2.mb-3
            Message for Editor
          - if policy(@peer_review).update?
            = form_for @peer_review, remote: true, html: { id: "edit_message_for_editor" } do |f|
              = f.rich_text_area :message_for_editor, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
          - else
            .row
              .col.mb-5
                = @peer_review.message_for_editor
    .col-3
      = render "peer_reviews/right_section"

= javascript_pack_tag 'peer_review_show', 'data-turbolinks-track': 'load'
