.col-auto
  .avatar.avatar-sm
    .avatar-title.font-size-lg.bg-primary-soft.rounded-circle.text-primary
      %i.fe.fe-thumbs-up
.col.ml-n2
  %h5.mb-1
    #{event.user.decorate.full_name}
  %p.small.mb-0
    #{event.action.capitalize}
  %small.text-muted
    #{time_ago_in_words event.created_at} ago


