.col-auto
  .avatar.avatar-sm
    .avatar-title.font-size-lg.bg-primary-soft.rounded-circle.text-primary
      %i.fe.fe-arrow-up-circle
.col.ml-n2
  %h5.mb-1
    #{event.user.decorate.full_name}
  .small.mb-0
    #{event.action.capitalize}
    %a{"href" => "#", "data-toggle" => "modal", "data-target" => "#resubmission-details"} See details
    .modal.fade.show#resubmission-details
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            .modal-title
              %h3.text-left Manuscript changes history
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            = changes_history


  %small.text-muted
    #{time_ago_in_words event.created_at} ago


