= form_for @volume do |f|
  - if @volume.errors.any?
    #error_explanation
      %h2= "#{pluralize(@volume.errors.count, "error")} prohibited this volume from being saved:"
      %ul
        - @volume.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :journal
    = f.select :journal_id, Journal.all.collect{|j| [j.name, j.id]}
  .field
    = f.label :number
    = f.text_field :number
  .actions
    = f.submit 'Save'
