.row
  .col-9
    .card-deck
      = link_to journals_path do
        .card.text-center
          .card-body
            %i.fas.fa-level-up-alt.fa-2x
            %h2 Back
      - @volumes.each do |volume|
        = link_to journal_volume_issues_path(@journal, volume) do
          .card.text-center
            .card-body
              .card-text
                %h2 #{volume.title}
      = link_to journal_volumes_path(@journal), method: :post do
        .card.text-center
          .card-body
            %h2 Add Volume
  .col-3
    = render 'shared/sidebars/journal'
