%p#notice= notice

.container
  .row
    .col-12
      %p
        %b Number:
        = @volume.number

      %h3 Issues
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Number

        %tbody
          - @volume.issues.each do |issue|
            %tr
              %td= link_to issue.number, journal_volume_issue_path(params[:journal_id], @volume.id, issue.id)


      = link_to 'Edit', edit_journal_volume_path(params[:journal_id], @volume)
      \|
      = link_to 'Back', journal_overview_path(params[:journal_id])
