= simple_form_for [@journal, @manuscript, @peer_review], url: journal_manuscript_peer_reviews_url do |f|
  .form-group
    = f.input :invitee_email
  .form-group
    = f.input :questionnaire_id, label: "Questionnaire", collection: QuestionnaireTemplate.all, input_html: {include_blank: true}
  .form-group
    = f.submit 'Save', class: "btn btn-success"