.header
  .header-body
    .row.align-items-end
      .col-9
        %h6.header-pretitle Peer Review for
        %h1.header-title #{@peer_review.manuscript.title}
      .col-3.text-center
        = state_badge @peer_review.state, "h2"
    .row.align-items-center
      .col
        %ul.nav.nav-tabs.nav-overflow.header-tabs
          %li.nav-item
            = link_to "Overview", peer_review_overview_path(@peer_review), class: "nav-link #{"active" if controller_name == "overview"}"
          %li.nav-item
            = link_to "Questionnaire", peer_review_questionnaire_path(@peer_review), class: "nav-link #{"active" if controller_name == "questionnaire"}"
