.card
  .card-header
    %h3.card-header-title Actions
  .card-body
    .row
      .col-12
        - if policy(@peer_review).submit?
          = link_to 'Submit', peer_review_submit_path(@peer_review.id), data: { confirm: "Is your peer review ready to be submitted to journal's editor?" }, class: "btn btn-success"
        - else
          %p You cannot take any actions at the moment.
