.header
  .header-body
    .row.align-items-end
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          My Peer Reviews
.container
  .row
    .col
      %table.table.table-lg.table-nowrap
        %thead
          %tr
            %th Manuscript
            %th State
        %tbody
          - @peer_reviews.each do |peer_review|
            %tr
              %td #{link_to peer_review.manuscript.title, peer_review_overview_path(peer_review)}
              %td #{state_badge peer_review.state}
