<% if @peer_review.errors.present? %>
  $(".flash-wrapper").append("<%= j toast(["", "There has been a problem updating the peer review."]) %>")
	$('.toast').toast({ delay: 3000 })
	$('#toast').toast('show')
<% else %>
  $(".flash-wrapper").append("<%= j toast(["", "You have updated the peer review successfully."]) %>")
	$('.toast').toast({ delay: 3000 })
	$('#toast').toast('show')
<% end %>
