= render "journals/header"
.container-fluid
  .row
    .col-9.tab-content
      .tab-pane.fade.active.show#overview
        .row.justify-content-between.align-items-center.mb-5
          .col-12
            %h2.mb-2
              Aims and Scope
            = form_for @journal, remote: true, html: { id: "edit_aims_and_scope" } do |f|
              = f.rich_text_area :aims_and_scope, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
        %hr.my-5
        .row.justify-content-between.align-items-center.mb-5
          .col-12
            %h2.mb-2
              Subject categories
            #journal-subjects-select{subjects: journals_subjects, for_model: "journal", journal_id: @journal.id, is_valid: (@result.present? ? (@result.errors.keys.include?(:subjects) ? true : false) : false)}
    = render "journals/right_section"

= javascript_pack_tag 'journal_show', 'data-turbolinks-track': 'load'
