.row
  = carousel_for [{ caption: "Hello", text: "Nice to meet you!", image: asset_url('carousel/carousel-1.jpg')},
                  { caption: "Hello", text: "Nice to meet you!", image: asset_url('carousel/carousel-2.jpg')},
                  { caption: "Hello", text: "Nice to meet you!", image: asset_url('carousel/carousel-3.jpg')}]
.container
  .row.justify-content-center
    .col-9
      %h1 About Us
      %p Journalius, the ultimate publishing platform. 
      %p Based on a long term experience accumulated in the over 10 years of working in academic publishing, Journalius was created to fulfil all the industries requirements.
      %p It is an one stop shop for both academic and professional publications, being suited for all sort of models (journals, books, conferences, open access, paid access and so on), and offering all the tools to help each of our clients reach their goals.
      %p To make things even clearer we invite you to watch our short video. It will help you understand even better who we are and what we offer. 
      %p Also, please da not hesitate to contact us if you have any questions or even suggestions. We are in a continuous development of the platform, so it will become the most complete publishing solution out there. 
  .row.justify-content-center
    %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/9VyYNuZnIac", :width => "560"}
  .row.justify-content-center.mt-5
    .col-9.text-center
      %button.btn.btn-lg.btn-primary.mr-3 Download Our Presentation
      %button.btn.btn-lg.btn-primary.mr-3 Contact Us
.row.mt-5
  .col-12
    = image_tag asset_url('carousel/carousel-1.jpg'), class: "w-100"
    %h1.image-caption Become our partner banner
.row.mt-5
  .col-4
    %h4 Offered solutions:
    %ul
      %li indexing
      %li XML
      %li Editorial
      %li ETC
  .col-4
    %h4 Work with us:
    %ul
      %li submit your journal
      %li submit a paper
      %li become an editor
      %li become a reviewer
  .col-4
    %h4 About us:
    %ul
      %li Contact
      %li Career
      %li Promotr
