%section
  .container
    .row.align-items-center
      .col-12.col-md-5.col-lg-6.order-md-2
        = image_tag "illustrations/home.jpg", class: "img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate", alt: "A/B testing"

      .col-12.col-md-7.col-lg-6.order-md-1
        %h1.display-3.text-center.text-md-left.welcome-to-journalius
          Academic publishing
          %span.text-secondary evolved
        %h2.ultimate-publishing-platform The ultimate manuscript tracking and publishing platform.
        %a.btn.btn-lg.btn-primary.lift.ml-auto.mt-4.primary-cta{href: "mailto:sales@journalius.com"}
          Contact Sales
        %a.btn.btn-lg.btn-primary.lift.ml-auto.mt-4.secondary-cta{href: "https://journalius-public.s3.eu-central-1.amazonaws.com/journalius_presentation.pptx"}
          Download Presentation
%section.py-6.py-md-6.features
  .container-fluid
    .container
      .row
        .col-12.col-md-4
          .icon.mb-3
            = image_tag 'icons/editorial_manager.png', alt: "easy to operate icon"
          %h2.feature-heading.mt-3 All-in-one Solution
          %p.feature-text Manage everything within a single platform and don't waste your time switching between incompatible tools. From manuscript submission to article publication and impact tracking, we have you covered. Journalius is all you need to publish a successful academic journal.
        .col-12.col-md-4
          .icon.mb-3
            = image_tag 'icons/extremely_competitive_pricing.png', alt: "easy to operate icon"
          %h2.feature-heading.mt-3 Competitive Pricing
          %p.feature-text Journalius saves both of your valuable resources: time and money. Our platform integrates various editorial services for you to pick and use whenever you need. Pay as you go and have your expenses under control at every moment.
        .col-12.col-md-4
          .icon.mb-3
            = image_tag 'icons/easy_to_operate.png', alt: "easy to operate icon"
          %h2.feature-heading.mt-3 Easy to Operate
          %p.feature-text Submit - Review - Publish. It's as easy as that! Intuitive interface and many automated checks make your everyday work an enjoyable experience. Focus on your quality content and let Journalius do the tedious and repetitive.
.container-fluid
  .row
    .col-12.text-center.py-4
      %p.align-middle.footer-text Made by Epistemico OU, Lõõtsa tn 5-11, Tallin, Harju Maakond, 11415
