= render "journals/header"
.container-fluid
  .row
    .col-9.tab-content
      .tab-pane.fade.active.show#metrics
        .row
          .col-3
            .card
              .card-body
                .row.align-items-center
                  .col
                    %h6.text-uppercase.text-muted.mb-2 Rejection Rate
                    %span.h2.mb-0 11.02 %
                    %span.badge.badge-soft-success.mt-n1 +3.5
        .row
          .col-3
            .card
              .card-body
                .row.align-items-center
                  .col
                    %h6.text-uppercase.text-muted.mb-2 Impact Factor
                    %span.h2.mb-0 23.09
                    %span.badge.badge-soft-success.mt-n1 1.2
          .col-3
            .card
              .card-body
                .row.align-items-center
                  .col
                    %h6.text-uppercase.text-muted.mb-2 Scientific Journal Ranking
                    %span.h2.mb-0 1st
        .row
          %p Speed
        .row
          %p Reach
        .row
          %p Predatory score
        .row
          %p Abstracting & Indexing
    = render "journals/right_section"

= javascript_pack_tag 'journal_show', 'data-turbolinks-track': 'load'
