.container
  .row
    .col-12
      %h4
        Reviewer: #{@technical_edit.technical_editor.email}
      
      - if @technical_edit.technically_edited_manuscript.present?
        = link_to "Download Peer Reviewed Manuscript", rails_blob_path(@technical_edit.technically_edited_manuscript, disposition: "attachment"), class: "btn btn-primary"
      - else
        The Technical Editor has not yet uploaded technically edited manuscript
      = link_to "Edit", edit_journal_manuscript_technical_edit_path(params[:journal_id], params[:manuscript_id], @technical_edit), class: "btn btn-primary"