= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email, "Email Address"
    = f.email_field :email, placeholder: "name@address.com", autofocus: true, autocomplete: "email", class: input_class
    = feedback_for_invalid_field :email
  .form-group
    .row
      .col
        = f.label :password
      .col-auto
        = link_to new_password_path(resource_name), class: "form-text small text-muted" do
          Forgot password?
    .input-group
      = f.password_field :password, placeholder: "Enter your password", autocomplete: "current-password", class: input_class + " form-control-appended"
      = feedback_for_invalid_field :password
  - if Rails.env.staging? or Rails.env.production?
    .mb-4
      = recaptcha_tags
  = f.submit "Sign in", class: "btn btn-lg btn-block btn-primary mb-3"
  .text-muted.text-center or
  = link_to user_linkedin_omniauth_authorize_path, class: "btn btn-block btn-primary mt-3 mb-3 linkedin" do
    Sign in with LinkedIn
    %i.fab.fa-linkedin.float-right.mt-1
  = link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-primary mb-3 google" do
    Sign in with Google
    %i.fab.fa-google.float-right.mt-1
  = link_to user_orcid_omniauth_authorize_path, class: "btn btn-block btn-primary mb-3 orcid" do
    Sign in with ORCID
    = image_tag "orcid.logo.icon.svg", size: "25x25", class: "img-fluid float-right pl-2"
  .text-center
    %small.text-muted.text-center
      Don't have an account yet?
      = link_to "Register", new_user_registration_path

