.container
  .row.justify-content-center
    .col-12.col-md-5.col-xl-4.my-5
      %h1.display-4.text-center.mb-3
        Sign in
      %p.text-muted.text-center.mb-5
        Access your Journalius dashboard and more.
      = render "form"
