!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{@journal.title} received a new submission. Check it out #{link_to 'here!', journal_manuscript_url(@journal, @manuscript)}
