.list-group-item
  .row.align-items-center
    .col.ml-n2
      %h4.mb-1
        = link_to manuscript.title, manuscript
      %p.card-text.small.text-muted
        Updated #{time_ago_in_words manuscript.updated_at} ago
    .col-auto
      .dropdown
        %a.dropdown-ellipses.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.fe.fe-more-vertical
        .dropdown-menu.dropdown-menu-right
          %a.dropdown-item{:href => "#!"}
            Action
          %a.dropdown-item{:href => "#!"}
            Another action
          %a.dropdown-item{:href => "#!"}
            Something else here

