.header
  .header-body
    .row.align-items-end
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          Dashboard
.container-fluid
  .row
    .col-12.col-xl-4
      .card.card-fill
        .card-header
          %h4.card-header-title Manuscripts
          = link_to "View all", manuscripts_path, class: "small"
        .card-body
          - if @manuscripts.any?
            .list-group.list-group-flush.my-n3
              = render partial: "dashboards/manuscript", collection: @manuscripts
          - else
            You have not yet pinned any manuscripts to you dashboard.
  .row
    .col-12.col-xl-4
      .card.card-fill
        .card-header
          %h4.card-header-title Journals
          = link_to "View all", journals_path, class: "small"
        .card-body
          - if @journals.any?
            .list-group.list-group-flush.my-n3
              = render partial: "dashboards/journal", collection: @journals
          - else
            You have not yet pinned any journals to you dashboard.


                          
