-# .form-row.align-items-center
-#   .col-6.text-left
-#     = f.input :user_id, collection: users_for_editor_account_assigments, label_method: :second, value_method: :first
-#   .col-5.text-left
-#     = f.input :role_id, collection: roles_for_editor_account_assignments, label_method: :second, value_method: :first
-#   .col-1.text-center
-#     = f.hidden_field :_destroy, class: "destroy"
-#     = link_to "#", class: "align-bottom remove_fields" do
-#       %i.far.fa-minus-square
