= simple_form_for @journal, remote: true do |f|
  %h4
    Title
    = render partial: "shared/info_icon", locals: { notes: "mandatory", main_message: "Exact name of your journal as officially registered."}
  = f.input :title, label: false
  = f.input :subtitle
  = f.input :webpage, label: "Journal's webpage"
  .row
    .col
      %h4
        Expected number of volumes per year
        = render partial: "shared/info_icon", locals: { main_message: "Choose how many volumes your journal publishes per year.", notes: "mandatory"}
      = f.input :volumes_per_year, label: false, input_html: {value: f.object.volumes_per_year || 1}
    .col
      %h4
        Expected number of regular issues per volume
        = render partial: "shared/info_icon", locals: { main_message: "Expected number of regular issue (excluding special issues) your journal publishes per volume.", notes: "mandatory"}
      = f.input :issues_per_volume, label: false, input_html: {value: f.object.issues_per_volume || 2}
  = f.input :editorial_information, as: :rich_text_area, label: "Editorial Information"
  = f.input :aims_and_scope, as: :rich_text_area, label: "Aims and Scope"
  = f.input :abstract_and_indexing_database_ids, collection: abstracting_and_indexing_databases, label_method: :second, value_method: :first, label: "Abstract and Indexing Databases ", input_html: {multiple: true }
  = f.input :guidelines_for_reviewers, as: :rich_text_area, label: "Guidelines for Reviewers"
  = f.input :peer_review_type, collection: peer_review_types, label_method: :second, value_method: :first, label: "Peer Review Type"
  = f.input :guidelines_for_authors, as: :rich_text_area, label: "Guidelines for Authors"
  = f.input :custom_copyrights_policy, as: :rich_text_area, label: "Custom Copyrights Policy"
  = f.input :open_access_creative_commons, label: "Open Access Creative Commons"
  = f.input :oa_statement, as: :rich_text_area, label: "OA Statement"
  = f.input :plagiarism_policy, as: :rich_text_area, label: "Plagiarism Policy"
  = f.input :ethical_policy, as: :rich_text_area, label: "Ethical Policy"
  = f.submit "Update Journal", class: "btn btn-lg btn-success mt-5 float-right"

= javascript_pack_tag 'journal_form', 'data-turbolinks-track': 'load'
