.header
  .header-body
    .row.align-items-end
      .col-9
        %h6.header-pretitle Journal
        %h1.header-title
          = @journal.title
        %h6.header-pretitle
          = @journal.subtitle
      .col-3
        %p Journal Admin: #{@journal.admin.decorate.full_name}
        = pin_unpin_journal_to_from_dashboard
        = link_to "Submit Manuscript", new_journal_manuscript_path(@journal), class: "btn btn-lg btn-primary"
    .row.align-items-center
      .col
        %ul.nav.nav-tabs.nav-overflow.header-tabs
          %li.nav-item
            = link_to "Overview", journal_overview_path, class: "nav-link #{"active" if controller_name == "overview"}"
          %li.nav-item
            = link_to "Editorial", journal_editorial_path, class: "nav-link #{"active" if controller_name == "editorial"}"
          %li.nav-item
            = link_to "Manuscripts", journal_manuscripts_path, class: "nav-link #{"active" if controller_name == "manuscripts"}"
          %li.nav-item
            = link_to "Volumes", journal_volumes_path, class: "nav-link #{"active" if controller_name == "volumes"}"
          %li.nav-item
            = link_to "Metrics", journal_metrics_path, class: "nav-link #{"active" if controller_name == "metrics"}"
          %li.nav-item
            = link_to "Marketing", journal_marketing_path, class: "nav-link #{"active" if controller_name == "marketing"}"
          %li.nav-item
            = link_to "Guidelines", journal_guidelines_path, class: "nav-link #{"active" if controller_name == "guidelines"}"
          %li.nav-item
            = link_to "Statements & Policies", journal_statements_and_policies_path, class: "nav-link #{"active" if controller_name == "statements_and_policies"}"
          %li.nav-item
            = link_to "Files", journal_files_path, class: "nav-link #{"active" if controller_name == "files"}"
          %li.nav-item
            = link_to "Other Settings", journal_other_settings_path, class: "nav-link #{"active" if controller_name == "other_settings"}"
