.col-3
  .row
    .col-6
      = journal_cover
    .col-6
      .card
        .card-body
          .list-group.list-group-flush.my-n3
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 print ISSN 
                .col-auto
                  .row
                    .col
                      = @journal.print_issn
                    .col-auto
                      = render "journals/modals/edit_print_issn"
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 digital ISSN
                .col-auto
                  .row
                    .col
                      = @journal.electronic_issn
                    .col-auto
                      = render "journals/modals/edit_electronic_issn"
  .row
    .col-12
      .card
        .card-body
          .list-group.list-group-flush.my-n3
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 Journal Owner
                .col-auto
                  .row
                    .col
                      = owner_name
                    - if policy(@journal).update?
                      .col-auto
                        = render "journals/modals/edit_owner_modal"
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 Publisher
                .col-auto
                  .row
                    .col
                      = publisher_name
                    - if policy(@journal).update?
                      .col-auto
                        = render "journals/modals/edit_publisher_modal"
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 Payer
                .col-auto
                  .row
                    .col
                      = payer_name
                    - if policy(@journal).update?
                      .col-auto
                        = render "journals/modals/edit_payer_modal"
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 Publishing Model
                .col-auto
                  .row
                    .col
                      = @journal.humanized_publishing_model
                    .col-auto
                      = render "journals/modals/edit_publishing_model_modal"
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 Languages
                .col-auto
                  .row
                    .col
                      = @journal.humanized_languages
                    .col-auto
                      = render "journals/modals/edit_languages_modal"
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 Frequency
                .col-auto
                  - if @journal.volumes_per_year.present?
                    = link_to @journal.humanized_publishing_frequency, journal_volumes_path(@journal)
                  - else
                    = link_to "Click to set.", journal_volumes_path(@journal)
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 APCs
                .col-auto
                  = link_to "MISSING DEFINITION", journal_metrics_path(@journal)
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 Style of references
                .col-auto
                  = link_to "MISSING DEFINITION", journal_guidelines_path(@journal)
            .list-group-item
              .row.align-items-center
                .col
                  .h5.mb-0 Peer review type
                .col-auto
                  = link_to "MISSING DEFINITION", journal_guidelines_path(@journal)
