<% if @result.errors.present? %>

  <% if @result.errors.keys.include? :title %>
    $("#journal_title_invalid_feedback").remove()
    $("#journal_title").addClass("is-invalid")
    $("#journal_title").after("<div id='journal_title_invalid_feedback' class='invalid-feedback'>Title <%= @result.errors[:title].join(". ") %></div>")
  <% else %>
    $("#journal_title_invalid_feedback").remove()
    $("#journal_title").removeClass("is-invalid")
  <% end %>

<% else %>
  const noJournals = ($("#no-journals").length > 0)

  $("#new-journal-modal").modal('hide');

  if (noJournals) {
    $("#no-journals").replaceWith("<div class='card'><div class='card-body'><%= j journals_table %></div></div>");
  } else {
    $("#journals").append("<%= j journals_table_row(@journal.decorate) %>");
  }
<% end %>
