.header
  .header-body
    .row.align-items-end
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          Journals
      .col-2
        - if policy(Journal.new).create?
          = render "journals/modals/new_journal_modal"

.container-fluid
  .row
    .col
      - if @journals.any?
        = journals_table
      - else
        .card.card-inactive#no-journals
          .card-body.text-center
            = image_tag 'illustrations/scale.svg', style: "max-width: 182px;", class: "img-fluid"
            %h1 You are not part of any journal yet
