var printIssnModal = $("#edit-print-issn-modal")
var electronicIssnModal = $("#edit-electronic-issn-modal")

<% if @journal.errors.present? %>
  <% if @journal.errors.has_key?(:print_issn) %>
    if (printIssnModal.find("#journal_print_issn_invalid_feedback").length == 0) {
      printIssnModal.find("#journal_print_issn").addClass("is-invalid")
      printIssnModal.find("#journal_print_issn").after("<div id='journal_print_issn_invalid_feedback' class='invalid-feedback'>Print ISSN <%= @journal.errors[:print_issn].join(". ") %></div>")
    }
  <% else %>
    printIssnModal.find("#journal_print_issn").removeClass("is-invalid")
    printIssnModal.find("#journal_print_issn_invalid_feedback").remove()
  <% end %>
  <% if @journal.errors.has_key?(:electronic_issn) %>
    if (electronicIssnModal.find("#journal_electronic_issn_invalid_feedback").length == 0) {
      electronicIssnModal.find("#journal_electronic_issn").addClass("is-invalid")
      electronicIssnModal.find("#journal_electronic_issn").after("<div id='journal_print_issn_invalid_feedback' class='invalid-feedback'>Digital ISSN <%= @journal.errors[:electronic_issn].join(". ") %></div>")
    }
  <% else %>
    electronicIssnModal.find("#journal_electronic_issn").removeClass("is-invalid")
    electronicIssnModal.find("#journal_electronic_issn_invalid_feedback").remove()
  <% end %>
<% else %>
    location.reload()
<% end %>

var wrapper = $('.flash-wrapper').html("<%= j flash_messages %>");
$("#toast").toast("show");
