= render "journals/header"
.container-fluid
  .row
    .col-9.tab-content
      .tab-pane.fade.active.show#editorial
        .row
          .col-4
            .card
              .card-body
                .row.align-items-center
                  .col
                    %h3.mb-0 Editors in Chief
                  .col-auto
                    - if policy(@editor_in_chief_invitation).create?
                      = render "journals/modals/edit_editors_in_chief_modal"
                .row
                  .col.mt-4
                    .list-group.list-group-flush.my-n3#editors-in-chief
                      - if @journal.editors_in_chief.any?
                        = editors_in_chief
                      - else
                        %p.text-muted#no-editors-in-chief No editors in chief yet.
                - if policy(@editor_in_chief_invitation).create?
                  .row.align-items-center.mt-4
                    .col
                      %h4.mb-0 Invitations
                  .row
                    .col.mt-4
                      .list-group.list-group-flush.my-n3#editor-in-chief-invitations
                        - if @journal.outstanding_editor_in_chief_invitations.any?
                          = editor_in_chief_invitations
                        - else
                          %p.text-muted#no-editor-in-chief-invitations No pending invitations for editor in chief.
          .col-4
            .card
              .card-body
                .row.align-items-center
                  .col
                    %h3.mb-0 Managing Editors
                  .col-auto
                    - if policy(@managing_editor_invitation).create?
                      = render "journals/modals/edit_managing_editors_modal"
                .row
                  .col.mt-4
                    .list-group.list-group-flush.my-n3#managing-editors
                      - if @journal.managing_editors.any?
                        = managing_editors
                      - else
                        %p.text-muted#no-managing-editors No managing editors yet.
                - if policy(@managing_editor_invitation).create?
                  .row.align-items-center.mt-4
                    .col
                      %h4.mb-0 Invitations
                  .row
                    .col.mt-4
                      .list-group.list-group-flush.my-n3#managing-editor-invitations
                        - if @journal.outstanding_managing_editor_invitations.any?
                          = managing_editor_invitations
                        - else
                          %p.text-muted#no-managing-editor-invitations No pending invitations for managing editors.
          .col-4
            .card
              .card-body
                .row.align-items-center
                  .col
                    %h3.mb-0 Editors
                  .col-auto
                    - if policy(@editor_invitation).create?
                      = render "journals/modals/edit_editors_modal"
                .row
                  .col.mt-4
                    .list-group.list-group-flush.my-n3#managing-editors
                      - if @journal.editors.any?
                        = editors
                      - else
                        %p.text-muted#no-editors No editors yet.
                - if policy(@editor_invitation).create?
                  .row.align-items-center.mt-4
                    .col
                      %h4.mb-0 Invitations
                  .row
                    .col.mt-4
                      .list-group.list-group-flush.my-n3#editor-invitations
                        - if @journal.outstanding_editor_invitations.any?
                          = editor_invitations
                        - else
                          %p.text-muted#no-editor-invitations No pending invitations for editors.
        .row
          .col-12
            %h2.mb-2
              Editorial Board
            = form_for @journal, remote: true do |f|
              = f.rich_text_area :editorial_board, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
        .row
          .col-12
            %h2.mb-2
              Advisory Board
            = form_for @journal, remote: true do |f|
              = f.rich_text_area :advisory_board, class: "height-20"
              = f.submit "Update", class: "btn btn-sm btn-primary float-right mt-2"
    = render "journals/right_section"

= javascript_pack_tag 'journal_show', 'data-turbolinks-track': 'load'
