= render "journals/header"
.container-fluid
  .row
    .col-9.tab-content
      .tab-pane.fade.active.show#manuscripts{role: "tabpanel"}
        .row
          .col-12
            - if @manuscripts.any?
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %tr
                    %th Title
                    %th Author
                    %th Status
                    %th My Role
                    %th Main editor
                    %th Days from submission
                    %th Time from last action
                    %th Language
                    %th DOI
                %tbody
                  - @manuscripts.decorate.each do |manuscript|
                    %tr
                      %td= link_to manuscript["title"], manuscript_overview_path(manuscript)
                      %td= link_to manuscript.corresponding_author.full_name, user_path(manuscript.corresponding_author)
                      %td
                        %span.badge.badge-soft-primary
                          = manuscript.state.humanize
                      %td
                        = my_role manuscript
                      %td
                        = link_to manuscript.editor.decorate.full_name, user_path(manuscript.editor)
                      %td
                        = manuscript.days_from_submission
                      %td
                        = manuscript.time_from_last_action
                      %td
                        = manuscript.languages.present? ? manuscript.languages.join(", ") : ""
                      %td
                        = manuscript.doi
            - else
              .card.card-inactive#no-manuscripts
                .card-body.text-center
                  = image_tag 'illustrations/scale.svg', style: "max-width: 182px;", class: "img-fluid"
                  %h1 This journal has no manuscripts yet
    = render "journals/right_section"

= javascript_pack_tag 'journal_show', 'data-turbolinks-track': 'load'
