= simple_form_for [@journal, @manuscript, @proof_read], url: journal_manuscript_proof_reads_url do |f|
  .form-group
    = f.input :invitee_email
  .form-group
    = f.submit 'Save', class: "btn btn-success"