.container
  .row
    .col-12
      %h4
        Reviewer: #{@proof_read.proof_reader.email}
      
      - if @proof_read.proof_read_manuscript.present?
        = link_to "Download Peer Reviewed Manuscript", rails_blob_path(@proof_read.proof_read_manuscript, disposition: "attachment"), class: "btn btn-primary"
      - else
        The Proof Reader has not yet uploaded proof read manuscript
      = link_to "Edit", edit_journal_manuscript_proof_read_path(params[:journal_id], params[:manuscript_id], @proof_read), class: "btn btn-primary"