// /*
//   *= require actiontext
//   *= require_self
// */

@import '../dashkit/scss/theme';
@import 'fonts';
@import 'logged_out';
@import 'logged_in';
@import '../dashkit/scss/dashkit/_variables';
@import 'uppy_core';
@import 'uppy_dashboard';

.manuscript-abstract-min-height {
  min-height: 10em;
}

.manuscript-body-min-height {
  min-height: 20em;
}

trix-editor.height-20 {
	min-height: 20em;
	background-color: white;
}

.invalid-feedback.issn {
  display: block;
}

.fe.fe-trash {
	color: $red;
	cursor: pointer;
}

.fe.fe-plus-square {
	color: $green;
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

.btn {
	cursor: pointer;
}

.btn.btn-block.btn-primary.mb-3.linkedin {
	background-color: rgb(40, 103, 178) !important;
	border-color: rgb(40, 103, 178) !important;
}

.btn.btn-block.btn-primary.mb-3.google {
	background-color: #d62d20 !important;
	border-color: #d62d20 !important;
}

.btn.btn-block.btn-primary.mb-3.orcid {
	background-color: #a6ce39 !important;
	border-color: #a6ce39 !important;
}

.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

input[type="text"]:disabled {
	background: #f2f2f2;
}
