$branding-orange: #f39212;

body.logged-out {

	a {
		color: $branding-orange;
	}
	.btn.btn-primary {
		color: white;
		background-color: $branding-orange !important;
		border-color: $branding-orange !important;
		font-weight: normal !important;
	}

	background-color: white;

	.btn.btn-primary {
		color: white !important;
	}
	span.text-secondary {
		color: $branding-orange !important;
	}

	.logged-out-navigation {
		background-color: white;
		border-bottom: none;
		a.navbar-btn.btn.btn-lg.btn-primary.lift.primary-cta {
			color: white;
			background-color: $branding-orange !important;
			border-color: $branding-orange !important;
			font-weight: normal !important;
		}
		a.navbar-brand {
			img {
				max-height: 80px;
			}
		}
	}

	.main-content {
		a.btn.btn-lg.btn-primary.lift.ml-auto.primary-cta {
			color: white;
			background-color: $branding-orange !important;
			border-color: $branding-orange !important;
			font-weight: normal !important;
		}

		background-color: white;

		h1 {
			font-family: 'GT Super Medium';
			font-size: xxx-large;
		}

		p.feature-text {
			font-size: medium;
			color: darken(#9d9c9c, 20%);
		}

		.feature-heading {
			color: black;
		}

		.carousel-caption {
			text-align: left;
			color: black;
			h1 {
				font-family: 'GT Super Medium';
				font-size: xxx-large;
				letter-spacing: 10px;
			}
		}

		h1.welcome-to-journalius {
			font-family: 'GT Super Medium';
			font-size: 5em;
			letter-spacing: 0.015em;
			color: black;
		}

		h2.ultimate-publishing-platform {
			font-weight: 300;
			font-size: 2em;
			color: black;
		}

		h1.image-caption {
			display: block;
			font-size: 2em;
			font-family: 'GT Super Medium';
			margin-block-start: 0.67em;
			margin-block-end: 0.67em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			font-weight: bold;
		}

		.container-fluid {
			padding-right: 0;
			padding-left: 0;
		}

		section.features {
			background-color: rgb(251, 249, 247);
			.icon {
				color: #9d9c9c;
			}
		}


		a.btn.btn-lg.btn-primary.lift.ml-auto.secondary-cta {
			background-color: rgb(239, 225, 207) !important;
			border-color: rgb(239, 225, 207) !important;
			font-weight: normal !important;
			color: rgb(243, 146, 18) !important;
		}

		.card-body.search-result {
			width: 50rem;
		}

		p.footer-text {
			color: #9d9c9c;
		}

		.journal-title {
			color: black;
		}

		.card {
			width: 18rem;
		}
	}
}

