$gray-500: #B1C2D9;
$success: #00D97E;

body.logged-in {
	#topbar {
		position: sticky;
		top: 0;
			z-index: 1000;
	}

	.manuscript-status {
		font-size: 1.4em;
	}

	a.pin-to-dashboard.false {
		color: $gray-500;
	}

	a.pin-to-dashboard.true {
		color: $success;
	}
}
