= simple_form_for [:my, @peer_review] do |f|
  .form-group
    = f.input :message_for_editor
  .form-group
    = f.input :message_for_author
  .form-group
    = f.input :recommendation, as: :select, collection: ["accept", "reject", "rework"], input_html: {include_blank: true}
  .form-group
    = f.input :reviewed_manuscript

  - if @peer_review.questionnaire.present?
    = f.fields_for :questionnaire_answers, OpenStruct.new(@peer_review.questionnaire_answers) do |builder|
      - @peer_review.questionnaire.questions.each do |question|
        = render "peer_reviews/questions/#{question.field_type}", question: question, f: builder
    
  .actions
    = f.submit 'Save', class: "btn btn-success"