.container
  .card-deck
    - @journals.each do |journal|
      = link_to published_journal_path(journal) do
        .card.text-center
          = image_tag 'journal_cover.jpg', alt: 'Journal Cover', class: 'card-img-top'
          .card-body
            .card-title.journal-title
              = journal.title
