%p#notice= notice

.container
  .row
    .col-sm
      %h1
        = @journal.title
      %p
        Electronic ISSN: #{@journal.electronic_issn}
      %p
        Print ISSN: #{@journal.print_issn}
      %p
        - if @journal.admins.any?
          Managing Editor: #{@journal.admin.decorate.full_name}
  .row
    .col-sm.text-right
      = link_to "Submit a manuscript", new_journal_manuscript_path(@journal), class: "btn btn-lg btn-primary"
