.card
  .card-header
    %h3.card-header-title DOI and other information
  .card-body
    = doi
    = languages
    = subjects
    = number_of_words
    = number_of_pages
    = number_of_figures
    = time_from_submission_to_first_decision
    = time_from_submission_to_final_decision
    = time_from_submission_to_publication
    = time_from_last_action
