.form-row.mt-2
  .col-6
    = f.label :full_name
    = f.text_field :full_name, class: "form-control manuscript_co_authors_full_name"
  .col-2
    = f.hidden_field :_destroy
    = link_to "#", class: "remove_fields" do 
      %span.fe.fe-trash.float-left

