= form_for @manuscript do |f|
  - if @manuscript.errors.any?
    #error_explanation
      %h2
        = pluralize(@manuscript.errors.count, "error")
        prohibited this manuscript from being saved:
      %ul
        - @manuscript.errors.full_messages.each do |message|
          %li= message
  - unless current_user.present?
    %h2.mt-5 Corresponding Author
    = f.fields_for :corresponding_author do |caf|
      .form-row
        .col-2.mb-3
          = f.label :title
          %select{class: "form-control", name: "manuscript[corresponding_author_attributes][title]", data: { toggle: "select"}}
            = title_options
          -# = feedback_for_invalid_field :title
        .col-5.mb-3
          = caf.label :first_name
          = caf.text_field :first_name, class: "form-control"
          -# = feedback_for_invalid_field :first_name
        .col-5.mb-3
          = caf.label :last_name
          = caf.text_field :last_name, class: "form-control" 
          -# = feedback_for_invalid_field :last_name
      .form-row
        .col-12.col-md-6.mb-3
          = caf.label :email
          = caf.email_field :email, class: "form-control"
      .form-row
        .col
          = caf.label :password
          = caf.password_field :password, class: "form-control"
        .col
          = caf.label :password_confirmation
          = caf.password_field :password_confirmation, class: "form-control"
  %h2.mt-5 Co-Authors:
  - @manuscript.co_authors.each do |co_author|
    .row{id: "co-author-#{co_author.id}"}
      .col-6
        %p #{co_author.full_name}
      .col-2
        = link_to co_author_path(co_author), method: :delete, remote: true do
          %span.fe.fe-trash.float-left
  = link_to_add_fields 'Add Co-Author', f, :co_authors
  %h2.mt-5 Manuscript
  = f.label :title
  = f.text_field :title, class: "form-control"
  #subjects-select{subjects: manuscripts_subjects, for_model: "manuscript"}
  #keywords-input{keywords: manuscripts_keywords, for_model: "manuscript"}
  #languages-select{languages: manuscripts_languages, options: manuscripts_language_options, for: "manuscript"}
  %h2.mt-5 Abstract
  = f.rich_text_area :abstract, class: "manuscript-abstract-min-height"
  %h2.mt-5 References
  = f.rich_text_area :references, class: "manuscript-abstract-min-height"
  %h2.mt-5 Files
  .row
    .col-6
      .card
        .card-header
          %h4 Uploaded Docx
        .card-body
          - if @manuscript.docx.attached?
            %ul.list-group.list-group-lg.list-group-flush.list.my-n4#docx-file-representation
              %li.list-group-item
                .row.align-items-center
                  .col-auto
                    %i.far.fa-file-word.fa-2x
                  .col.ml-n2
                    %h4.mb-1.name
                      = @manuscript.docx.filename.to_s
                  .col-auto
                    = link_to attachment_path(@manuscript.docx.id), method: :delete, remote: true do
                      %i.fe.fe-trash#docx-remove-icon
          - else
            %h3 No docx attached yet.
          .row.mt-5#docx-upload-form{class: @manuscript.docx.attached? ? "d-none" : ""}
            .col-12
              .upload-docx{data: { uppy:  "manuscript[docx]" } }
    .col-6
      .card
        .card-header
          %h4 Additional files
        .card-body
          - if @manuscript.additional_files.attached?
            %ul.list-group.list-group-lg.list-group-flush.list.my-n4#additional-files-representation
              - @manuscript.additional_files.each do |file|
                %li.list-group-item{id: "file-representation-#{file.id}"}
                  = hidden_field_tag 'manuscript[additional_files][]', file.signed_id
                  .row.align-items-center
                    .col-auto
                      = file_icon file
                    .col.ml-n2
                      %h4.mb-1.name
                        = file.filename.to_s
                    .col-auto
                      = link_to attachment_path(file.id), method: :delete, remote: true do
                        %i.fe.fe-trash#docx-remove-icon
          - else
            %h3 No additional files attached.
          .row.mt-5
            .col-12
              .upload-additional-files{"data-uppy" => "manuscript[additional_files][]"}

  = f.submit "Save changes", class: "btn btn-lg btn-success float-right mb-5"

= javascript_pack_tag 'manuscript_form', 'data-turbolinks-track': 'load'
