.card
  .card-header
    %h3.card-header-title Editors
  .card-body
    %h4.mb-3 Main Editor
    .row.align-items-center
      .col-auto
        = link_to user_path(managing_editor), class: "avatar avatar-sm" do
          %span.avatar-title.rounded
            = managing_editor.initials
      .col.ml-n2
        %p.mb-1
          = managing_editor.full_name
    %h4.mt-4 Assigned Editors
    #assigned-editors
      = assigned_editors
    - if policy(@manuscript).update?
      .row
        .col-12
          = render "manuscripts/modals/add_member_modal"
