= form_for [@journal, @manuscript], url: journal_manuscripts_path(@journal) do |f|
  - if @manuscript.errors.any?
    #error_explanation
      %h2
        = pluralize(@manuscript.errors.count, "error")
        prohibited this manuscript from being saved:
      %ul
        - @manuscript.errors.full_messages.each do |message|
          %li= message
  - unless current_user.present?
    %h2.mt-5 Corresponding Author
    .row
      .col-9.col-md-6
        = f.fields_for :corresponding_author do |caf|
          .form-row
            .col-2.mb-3
              = caf.label :title
              %select{class: "form-control", name: "manuscript[corresponding_author_attributes][title]", data: { toggle: "select"}}
                = title_options
                = feedback_for_invalid_field :title
            .col-5.mb-3
              = caf.label :first_name
              = caf.text_field :first_name, class: "form-control"
              = feedback_for_invalid_field :first_name
            .col-5.mb-3
              = caf.label :last_name
              = caf.text_field :last_name, class: "form-control" 
              = feedback_for_invalid_field :last_name
          .form-row
            .col-12.mb-3
              = caf.label :email
              = caf.email_field :email, class: "form-control"
          .form-row
            .col-12
              = caf.label :password
              = caf.password_field :password, class: "form-control mb-3"
              = caf.label :password_confirmation
              = caf.password_field :password_confirmation, class: "form-control"
      .col-3.col-md-6
        .container.align-items-center
          .row.justify-content-center
            .col-12.my-5.text-center
              .h3.text-center Already have a Journalius account? 
              = link_to "Sign in", new_user_session_path, class: "btn btn-primary text-center"
  %h2.mt-5 Co-Authors:
  = f.fields_for :co_authors do |casf|
    = render 'co_author_fields', f: casf
    .form-row
      .col.text-left
  = link_to_add_fields 'Add Co-Author', f, :co_authors
  %h2.mt-5 Manuscript
  = f.label :title
  = f.text_field :title, class: "form-control"
  #subjects-select{subjects: manuscripts_subjects, for_model: "manuscript"}
  #keywords-input{keywords: manuscripts_keywords, for_model: "manuscript"}
  #languages-select{languages: manuscripts_languages, options: manuscripts_language_options, for: "manuscript"}
  %h2.mt-5 Abstract
  = f.rich_text_area :abstract, class: "manuscript-abstract-min-height"
  %h2.mt-5 References
  = f.rich_text_area :references, class: "manuscript-abstract-min-height"
  .row.mt-5
    .col-6
      %h2 Upload your main manuscript file (*.docx)
      .upload-docx{"data-uppy" => "manuscript[docx]"}
    .col-6
      %h2 Upload supporting files (images, tables, etc.)
      .upload-additional-files{"data-uppy" => "manuscript[additional_files][]"}
  - if !current_user.present? and (Rails.env.staging? or Rails.env.production?)
    .mt-4
      = recaptcha_tags
  = f.submit "Submit", class: "btn btn-lg btn-success float-right"

= javascript_pack_tag 'manuscript_form', 'data-turbolinks-track': 'load'
