.header
  .header-body
    .row.align-items-end
      .col-9
        %h6.header-pretitle
          = @manuscript.submitted_on
        %h1.header-title
          = link_to @manuscript.title, edit_manuscript_path(@manuscript)
      .col-3
        .row.manuscript-status
          .col-10.text-right
            = state_badge @manuscript.state, "h2"
          .col-1.text-center
            = render "manuscripts/modals/link_to_discussions"
          .col-1.text-center
            = pin_unpin_manuscript_to_from_dashboard
    .row.align-items-center
      .col
        %ul.nav.nav-tabs.nav-overflow.header-tabs
          %li.nav-item
            = link_to "Overview", manuscript_overview_path, class: "nav-link #{"active" if controller_name == "overview"}"
          %li.nav-item
            = link_to "Peer Reviews", manuscript_peer_reviews_path, class: "nav-link #{"active" if controller_name == "peer_reviews"}"
