.row
  .col-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Language Editor
          %th State
          %th
      %tbody
        - @manuscript.language_edits.each do |language_edit|
          %tr
            %td= language_edit.language_editor.email
            %td= language_edit.state
            %td= link_to "Show", journal_manuscript_language_edit_path(params[:journal_id], @manuscript.id, language_edit)
    = link_to "New Language Edit", new_journal_manuscript_language_edit_path(params[:journal_id], @manuscript.id), class: "btn btn-primary"