%h2 #{@manuscript.title}
%p
  %h4 Authors
  = @manuscript.authors
%p
  %h4 Keywords
  %ul
    - @manuscript.keywords.map do |keyword|
      %li
        = keyword.name

%div#previews
  - if @manuscript.additional_files.attached?
    - @manuscript.additional_files.each do |file|
      = file_tag @manuscript.file, width: 280, data: { behavior: 'uppy-preview' }

- if current_user.role?(:author)
  = link_to 'Edit', edit_manuscript_path(@manuscript)
- else
  = link_to 'Edit', edit_journal_manuscript_path(params[:journal_id], @manuscript)
