.card
  .card-header
    %h3.card-header-title Actions
  .card-body
    .row
      .col-12
        - if policy(@manuscript).ask_for_revision?
          - if @manuscript.state != "in_revision"
            = render "manuscripts/modals/revision_request_modal"
        - if policy(@manuscript).reject?
          - if @manuscript.state != "rejected"
            = render "manuscripts/modals/rejection_modal"
        - if policy(@manuscript).accept?
          - if @manuscript.state != "accepted" and @manuscript.state != "in_revision"
            = link_to "Accept", acceptances_path(id: @manuscript.id), method: :post, class: "btn btn-success mb-2"
    .row
      .col-12
        - if policy(@manuscript).update?
          = edit_button
          - if policy(@manuscript).resubmit?
            = render "manuscripts/modals/resubmit_modal"
        - else
          = no_actions_message
        - if policy(@manuscript).preview?
          = link_to "Preview", "#", class: "btn btn-primary mb-2", data: {"original-title": "Preview how this article will look like when published.", placement: "top", toggle: "tooltip"}
