%ul.nav.nav-pills.flex-column
  %li.nav-item
    - additional_class = controller_name == "manuscripts" ? "active" : ""
    = link_to "Submission", journal_manuscript_path(params[:journal_id], @manuscript.id), class: "nav-link #{additional_class}"
  %li.nav-item
    - additional_class = controller_name == "peer_reviews" ? "active" : ""
    = link_to "Peer Reviews", journal_manuscript_peer_reviews_path(params[:journal_id], @manuscript.id), class: "nav-link #{additional_class}"
  %li.nav-item
    - additional_class = controller_name == "technical_edits" ? "active" : ""
    = link_to "Technical Edits", journal_manuscript_technical_edits_path(params[:journal_id], @manuscript.id), class: "nav-link #{additional_class}"
  %li.nav-item
    - additional_class = controller_name == "language_edits" ? "active" : ""
    = link_to "Language Edits", journal_manuscript_language_edits_path(params[:journal_id], @manuscript.id), class: "nav-link #{additional_class}"
  %li.nav-item
    - additional_class = controller_name == "proof_reads" ? "active" : ""
    = link_to "Proof Reads", journal_manuscript_proof_reads_path(params[:journal_id], @manuscript.id), class: "nav-link #{additional_class}"