.row
  .col-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Proof Reader
          %th State
          %th
      %tbody
        - @manuscript.proof_reads.each do |proof_read|
          %tr
            %td= proof_read.proof_reader.email
            %td= proof_read.state
            %td= link_to "Show", journal_manuscript_proof_read_path(params[:journal_id], @manuscript.id, proof_read)
    = link_to "New Proof Read", new_journal_manuscript_proof_read_path(params[:journal_id], @manuscript.id), class: "btn btn-primary"