.container
  .row
    .col-8
      %p
        = @manuscript.journal.title
      %p
        = link_to_manuscripts_issue
      %h1
        = @manuscript.title
      %p
        = @manuscript.corresponding_author.full_name
      %p
        DOI: #{@manuscript.doi} | Published #{@manuscript.published_at.strftime("%d.%m.%Y")}
      - if @manuscript.pdf.attached?
        = link_to "Download PDF", rails_blob_path(@manuscript.pdf, disposition: "attachment"), class: "btn btn-primary"
      .pt-4
      %h3 Abstract
      = @manuscript.abstract
      %p Keywords
      = raw @manuscript.keyword_list.map { |k| link_to k, search_path(q: k) }.join(", ")
    .col-4
      %h6 JOURNAL & ISSUES
