.col-3.right-sidebar
  = render "manuscripts/manuscript_actions"
  .card
    .card-header
      %h3.card-header-title Recent Activity
      = link_to "View all", "#", class: "small"
    .card-body
      .list-group.list-group-flush.list-group-activity.my-n3
        = render collection: @events, partial: "events/event"
  = render "manuscripts/editors", managing_editor: @manuscript.editor.decorate, editors: UserDecorator.decorate_collection(@manuscript.editors)
  = render "manuscripts/peer_reviews"
  = render "manuscripts/additional_information"
