.container
  .row.text-center
    .col-12
      %h4
        Assigned Editor: #{@manuscript.editor.email}
  .pt-4
  .row
    .col-6
      %ul.list-group
        %li.list-group-item{class: ("active" if @submission.state == "submitted")} Submitted
        %li.list-group-item{class: ("list-group-item-danger" if @submission.state == "rejected")} Rejected
        %li.list-group-item{class: ("list-group-item-success" if @submission.state == "accepted")} Accepted
    .col-6
      .btn-group-vertical
        = link_to "Reject", "#",  { class: "btn btn-danger" } unless @submission.state == "rejected"
        = link_to "Accept", "#", { class: "btn btn-success" } unless @submission.state == "accepted"
        -# = link_to "Reject", reject_journal_manuscript_submission_path(params[:journal_id], @manuscript, @submission),  { class: "btn btn-danger" } unless @submission.state == "rejected"
        -# = link_to "Accept", accept_journal_manuscript_submission_path(params[:journal_id], @manuscript, @submission), { class: "btn btn-success" } unless @submission.state == "accepted"