.row
  .col-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Technical Editor
          %th State
          %th
      %tbody
        - @manuscript.technical_edits.each do |te|
          %tr
            %td= te.technical_editor.email
            %td= te.state
            %td= link_to "Show", journal_manuscript_technical_edit_path(params[:journal_id], @manuscript.id, te)
    = link_to "New Technical Edit", new_journal_manuscript_technical_edit_path(params[:journal_id], @manuscript.id), class: "btn btn-primary"