.header
  .header-body
    .row.align-items-end
      .col
        %h6.header-pretitle
          Editing
        %h1.header-title
          #{@manuscript.title}
.container
  .row
    .col-12
      = render 'edit_form'
