.header
  .header-body
    .row.align-items-end
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          Manuscripts
.container-fluid
  .row
    .col
      - if @manuscripts.any?
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th Title
              %th Author
              %th Status
              %th My Role
              %th Submitted to
              %th Main editor
              %th Days from submission
              %th Time from last action
              %th Language
              %th DOI
          %tbody
            - @manuscripts.each do |manuscript|
              %tr
                %td= link_to manuscript["title"], manuscript_overview_path(manuscript)
                %td= link_to manuscript.corresponding_author.decorate.full_name, user_path(manuscript.corresponding_author)
                %td
                  %span.badge.badge-soft-primary
                    = manuscript.state.humanize
                %td
                  = my_role manuscript
                %td
                  = link_to manuscript.journal.title, journal_overview_path(manuscript.journal)
                %td
                  = link_to manuscript.editor.decorate.full_name, user_path(manuscript.editor)
                %td
                  = manuscript.days_from_submission
                %td
                  = manuscript.time_from_last_action
                %td
                  = manuscript.languages.join(", ")
                %td
                  = manuscript.doi
      - else
        .card.card-inactive#no-manuscripts
          .card-body.text-center
            = image_tag 'illustrations/scale.svg', style: "max-width: 182px;", class: "img-fluid"
            %h1 You don't have any manuscripts yet.
