- if current_user
  .header
    .header-body
      .row.align-items-end
        .col-12
          %h6.header-pretitle Manuscript Submission to 
          %h1.header-title #{@journal.title}
  .container
    .row
      .col-12
        = render 'form'
- else
  .container
    .row
      .col-12
        .header
          .header-body
            .row.align-items-end
              .col-12
                %h6.header-pretitle Manuscript Submission to 
                %h1.header-title #{@journal.title}
        = render 'form'
