var editorsInChiefModal = $("#edit-editors-in-chief-modal")

if (editorsInChiefModal.length > 0) {
  <% if @result.errors.present? %>
    <% if @result.errors.keys.include? :first_name %>
        editorsInChiefModal.find("#user_first_name_invalid_feedback").remove()
        editorsInChiefModal.find("#user_first_name").addClass("is-invalid")
        editorsInChiefModal.find("#user_first_name").after("<div id='user_first_name_invalid_feedback' class='invalid-feedback'>First name <%= @result.errors[:first_name].join(". ") %></div>")
    <% else %>
        editorsInChiefModal.find("#user_first_name").removeClass("is-invalid")
        editorsInChiefModal.find("#user_first_name_invalid_feedback").remove()
    <% end %>

    <% if @result.errors.keys.include? :last_name %>
        editorsInChiefModal.find("#user_last_name_invalid_feedback").remove()
        editorsInChiefModal.find("#user_last_name").addClass("is-invalid")
        editorsInChiefModal.find("#user_last_name").after("<div id='user_last_name_invalid_feedback' class='invalid-feedback'>Last name <%= @result.errors[:last_name].join(". ") %></div>")
    <% else %>
        editorsInChiefModal.find("#user_last_name").removeClass("is-invalid")
        editorsInChiefModal.find("#user_last_name_invalid_feedback").remove()
    <% end %>

    <% if @result.errors.keys.include? :email %>
        editorsInChiefModal.find("#user_email_invalid_feedback").remove()
        editorsInChiefModal.find("#user_email").addClass("is-invalid")
        editorsInChiefModal.find("#user_email").after("<div id='user_email_invalid_feedback' class='invalid-feedback'>Email <%= @result.errors[:email].join(". ") %></div>")
    <% else %>
        editorsInChiefModal.find("#user_email").removeClass("is-invalid")
        editorsInChiefModal.find("#user_email_invalid_feedback").remove()
    <% end %>
  <% else %>
    location.reload()
  <% end %>
}

var managingEditorsModal = $("#edit-managing-editors-modal")

if (editorsInChiefModal.length > 0) {
  <% if @result.errors.present? %>
    <% if @result.errors.keys.include? :first_name %>
        managingEditorsModal.find("#user_first_name_invalid_feedback").remove()
        managingEditorsModal.find("#user_first_name").addClass("is-invalid")
        managingEditorsModal.find("#user_first_name").after("<div id='user_first_name_invalid_feedback' class='invalid-feedback'>First name <%= @result.errors[:first_name].join(". ") %></div>")
    <% else %>
        managingEditorsModal.find("#user_first_name").removeClass("is-invalid")
        managingEditorsModal.find("#user_first_name_invalid_feedback").remove()
    <% end %>

    <% if @result.errors.keys.include? :last_name %>
        managingEditorsModal.find("#user_last_name_invalid_feedback").remove()
        managingEditorsModal.find("#user_last_name").addClass("is-invalid")
        managingEditorsModal.find("#user_last_name").after("<div id='user_last_name_invalid_feedback' class='invalid-feedback'>Last name <%= @result.errors[:last_name].join(". ") %></div>")
    <% else %>
        managingEditorsModal.find("#user_last_name").removeClass("is-invalid")
        managingEditorsModal.find("#user_last_name_invalid_feedback").remove()
    <% end %>

    <% if @result.errors.keys.include? :email %>
        managingEditorsModal.find("#user_email_invalid_feedback").remove()
        managingEditorsModal.find("#user_email").addClass("is-invalid")
        managingEditorsModal.find("#user_email").after("<div id='user_email_invalid_feedback' class='invalid-feedback'>Email <%= @result.errors[:email].join(". ") %></div>")
    <% else %>
        managingEditorsModal.find("#user_email").removeClass("is-invalid")
        managingEditorsModal.find("#user_email_invalid_feedback").remove()
    <% end %>
  <% else %>
    location.reload()
  <% end %>
}

var editorsModal = $("#edit-editors-modal")

if (editorsModal.length > 0) {
  <% if @result.errors.present? %>
    <% if @result.errors.keys.include? :first_name %>
        editorsModal.find("#user_first_name_invalid_feedback").remove()
        editorsModal.find("#user_first_name").addClass("is-invalid")
        editorsModal.find("#user_first_name").after("<div id='user_first_name_invalid_feedback' class='invalid-feedback'>First name <%= @result.errors[:first_name].join(". ") %></div>")
    <% else %>
        editorsModal.find("#user_first_name").removeClass("is-invalid")
        editorsModal.find("#user_first_name_invalid_feedback").remove()
    <% end %>

    <% if @result.errors.keys.include? :last_name %>
        editorsModal.find("#user_last_name_invalid_feedback").remove()
        editorsModal.find("#user_last_name").addClass("is-invalid")
        editorsModal.find("#user_last_name").after("<div id='user_last_name_invalid_feedback' class='invalid-feedback'>Last name <%= @result.errors[:last_name].join(". ") %></div>")
    <% else %>
        editorsModal.find("#user_last_name").removeClass("is-invalid")
        editorsModal.find("#user_last_name_invalid_feedback").remove()
    <% end %>

    <% if @result.errors.keys.include? :email %>
        editorsModal.find("#user_email_invalid_feedback").remove()
        editorsModal.find("#user_email").addClass("is-invalid")
        editorsModal.find("#user_email").after("<div id='user_email_invalid_feedback' class='invalid-feedback'>Email <%= @result.errors[:email].join(". ") %></div>")
    <% else %>
        editorsModal.find("#user_email").removeClass("is-invalid")
        editorsModal.find("#user_email_invalid_feedback").remove()
    <% end %>
  <% else %>
    location.reload()
  <% end %>
}

var reviewerModal = $("#new-peer-review-invitation-modal")

if (reviewerModal.length > 0) {
  <% if @result.errors.present? %>
    <% if @result.errors.keys.include? :first_name %>
        reviewerModal.find("#user_first_name_invalid_feedback").remove()
        reviewerModal.find("#user_first_name").addClass("is-invalid")
        reviewerModal.find("#user_first_name").after("<div id='user_first_name_invalid_feedback' class='invalid-feedback'>First name <%= @result.errors[:first_name].join(". ") %></div>")
    <% else %>
        reviewerModal.find("#user_first_name").removeClass("is-invalid")
        reviewerModal.find("#user_first_name_invalid_feedback").remove()
    <% end %>

    <% if @result.errors.keys.include? :last_name %>
        reviewerModal.find("#user_last_name_invalid_feedback").remove()
        reviewerModal.find("#user_last_name").addClass("is-invalid")
        reviewerModal.find("#user_last_name").after("<div id='user_last_name_invalid_feedback' class='invalid-feedback'>Last name <%= @result.errors[:last_name].join(". ") %></div>")
    <% else %>
        reviewerModal.find("#user_last_name").removeClass("is-invalid")
        reviewerModal.find("#user_last_name_invalid_feedback").remove()
    <% end %>

    <% if @result.errors.keys.include? :email %>
        reviewerModal.find("#user_email_invalid_feedback").remove()
        reviewerModal.find("#user_email").addClass("is-invalid")
        reviewerModal.find("#user_email").after("<div id='user_email_invalid_feedback' class='invalid-feedback'>Email <%= @result.errors[:email].join(". ") %></div>")
    <% else %>
        reviewerModal.find("#user_email").removeClass("is-invalid")
        reviewerModal.find("#user_email_invalid_feedback").remove()
    <% end %>
  <% else %>
    location.reload()
  <% end %>
}
