.container
  .row.justify-content-center
    .col-12.col-md-5.col-xl-4.my-5
      %h1.display-4.text-center.mb-3 #{t "devise.invitations.edit.header"}
      %p.text-muted.text-center.mb-5 Please enter and confirm your desired password to accept the invitation.
      = simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|  
        = f.error_notification
        = f.hidden_field :invitation_token
        .form-group
          = f.input :password
          = f.input :password_confirmation
        = f.button :submit, t("devise.invitations.edit.submit_button"), class: "btn btn-lg btn-block btn-primary mb03"
