You have been invited by #{@invitation.inviter.decorate.full_name} to become #{@invitation.invited_as.name} at #{@invitation.invitable.title}.
%p Please accept or decline the invitation
%p
  = link_to "Accept", accept_invitation_url(@invitation.invitee, invitation_token: @invitation.raw_invitation_token)
%p
  = link_to "Decline", remove_user_invitation_url(@invitation.invitee, invitation_token: @invitation.raw_invitation_token), method: :delete, id: "decline-invitation"
