You have been invited by #{@invitation.inviter.decorate.full_name} to become #{@invitation.invited_as.name} at #{@invitation.invitable.title}.
%p Please accept or decline the invitation
%p
  = link_to "Accept", internal_invitation_accept_url(@invitation)
%p
  = link_to "Decline", internal_invitation_decline_url(@invitation)
