= render "manuscripts/header"
.container-fluid
  .row
    .col-9.tab-content
      .tab-pane.fade.active.show#overview
        %h4 Authors
        = link_to @manuscript.corresponding_author.decorate.full_name, user_path(@manuscript.corresponding_author)
        %p #{co_authors}
        %h4 Keywords
        %p #{keywords}
        %h4 Abstract
        = @manuscript.abstract
        %h4.mt-4 References
        = @manuscript.references
    = render "manuscripts/right_section"
