!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Journalius
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      %script#Cookiebot{"data-blockingmode" => "auto", "data-cbid" => "e23d856b-20f9-47ba-8452-622370b182bb", :src => "https://consent.cookiebot.com/uc.js", :type => "text/javascript"}
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = tag.meta name: "direct-upload-url", content: rails_direct_uploads_path
    - if user_signed_in?
      = tag.meta name: "current-user", data: {id: current_user.id }
    - if Rails.env.production?
      %script{async: true, src: "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.dig(:google, :tracking_id)}"}
      = javascript_include_tag 'analytics', async: true
      :javascript
        !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
        arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
        d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
        insertBefore(d,q)}(window,document,'script','_gs');
        _gs('#{Rails.application.credentials.dig(:gosquared, :project_token)}');
        _gs('set', 'anonymizeIP', true);
      :javascript
        window.smartlook||(function(d) {
          var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
          var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
          c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
          })(document);
          smartlook('init', '#{Rails.application.credentials.dig(:smartlook, :project_key)}');


    = favicon_link_tag asset_url('favicon-32x32.png')
    = favicon_link_tag asset_url('favicon-32x32.png')

  - if current_user
    %body.logged-in
      = render 'shared/sidebars/navigation_sidebar'
      .main-content
        = render 'shared/logged_in_navigation'
        .container-fluid
          = yield
          = flash_messages
  - else
    %body.logged-out
      = render 'shared/logged_out_navigation'
      .main-content
        .container-fluid
          = yield
          = flash_messages
    - if Rails.env.production?
      %script#CookieDeclaration{:async => "", :src => "https://consent.cookiebot.com/e23d856b-20f9-47ba-8452-622370b182bb/cd.js", :type => "text/javascript"}


