//
// overrides.scss
// Dark mode overrides
//

//
// Table of contents
//
// 1. Buttons
// 2. Forms
// 3. Input groups
// 4. Select2
//


// Buttons

.btn-white, .btn-light {
  @include button-variant($gray-800-dark, $gray-600-dark);

  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle {
    background-color: $black-dark;
    border-color: $gray-700-dark;
    color: $white;
  }
}


// Forms

.form-control {
  border-color: $input-bg;
}


// Input groups

.input-group .input-group-text {
  border-color: $input-bg;
}
